<!DOCTYPE html><html>{{template "header" .}}<body><div class="container">    <div class="row">        <div class="col-xs-3">        </div>        <div class="col-xs-9">            <table class="table table-bordered">                <tr>                    <th></th>                    <th>用户ID</th>                    <th>用户昵称</th>                    <th>用户钻石</th>                    <th>操作</th>                </tr>                {{range $k, $v := .users}}                <tr>                    <td>{{$k}}</td>                    <td>{{$v.Id}}</td>                    <td>{{$v.NickName}}</td>                    <td>{{$v.Diamond}}</td>                    <td><a>编辑</a>,<a href="/recharge?userId={{$v.Id}}">充值</a></td>                </tr>                {{end}}            </table>        </div>    </div></div>{{template "footer"}}</body></html><!-- 设置当前页面才有的状态 --><script>    $("#nav-li-golang").addClass("active")</script>