
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>代理中心</title>
    <link rel="stylesheet" type="text/css" href="/static/home/css/aui.css" />
    <link rel="stylesheet" type="text/css" href="/static/home/css/member.css" />

    <link rel="stylesheet" type="text/css" href="/static/home/css/layer.css" />

    <style type="text/css">
        .gonggao{
            width: 100%;
            height: 45px;
            top: 6.5rem;
            position: absolute;
            background-color:rgba(0,0,0,0.5);
        }
        .gonggao>marquee{
            color: #fff;
            font-size: 18px;
            line-height: 45px;
        }
        .kf{

            height: 20px;
            top: 6.5rem;
            position: absolute;

            color: #fff;
            font-size: 18px;
            line-height: 45px;
        }
    </style>

</head>
<body>
<div class="gonggao" style="z-index: 999999">
    <marquee behavior="scroll" contenteditable="true" onstart="this.firstChild.innerHTML+=this.firstChild.innerHTML;" scrollamount="3" width="100%" onmouseover="this.stop();" onmouseout="this.start();">
        本游戏仅供测试、仅供娱乐，严禁赌博，如出现赌博行为，将封停账号并向公安机关举报 ！
    </marquee>
</div>
<img src="/static/home/image/big-bg.png" style="width: 100%;height: 100%;position: fixed;z-index: -5;">


<div class="aui-content" style="top:0px; position: fixed;width: 100%;z-index: 999">
    <div class="header" style="background-size: 100% 100%;">
        <div class="facico"><img id="headimgurl" src="" onerror="this.src='/static/home/image/noface.png'" /></div>
        <div class="user">
            <p class="user-name" id="nickname">加载中</p>
            <p class="user-id">( ID:<span id="userid">加载中</span> )</p>
        </div>
        <div class="gold-sum">
            <p class="gold">金币<span style="font-size: 0.6rem" id="money">加载中</span></p>
            {{/*<a class= "gold" href="http://t.ibangkf.com/i/chat-a2954573.html?l=a2954573"><span style="font-size: 0.8	rem; margin-top:20px;margin-right:5px;">→在线客服-*/}}
{{/*</span></a>*/}}
        </div>



    </div>
</div>


<div class="aui-content" style="margin-top: 3.4rem;">
    <div class="header-bottom">
        <img src="/static/home/image/banner.png">
    </div>
</div>


<div class="aui-content hbpf-agency" style="margin-top: 3px;">
    <div class="aui-bar aui-bar-btn" style="width:65%;">
        <div class="aui-bar-btn-item aui-active">收益明细</div>
        <div class="aui-bar-btn-item "><a {{/*href="/home/member/agent_tg"*/}}>我的推广码</a></div>
    </div>
</div>
<div class="aui-card-list-content" style="margin-bottom:5.5rem;">
    <ul class="aui-list aui-media-list" id="item">
    </ul>
</div>
<!--弹窗开始-->
<div id="setdaili" class="hbpf-agency" style="display: none;">
    <div class="mask">
        <div class="aui-content aui-margin-b-15">
            <ul class="aui-list aui-form-list">
                <li>
                    <div class="facico"><img  id="user_imgaa" src="" onerror="this.src='/static/home/image/noface.png'" ></div>
                    <div class="user">
                        <p class="user-name" id="nicknameaa"> </p>
                        <p class="user-id">( ID:<span id="useridaa"> </span> )</p>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">代理：</div>
                        <div class="aui-list-item-input">
                            <label><input id="dl2" class="aui-radio" type="radio" value="2" name="is_agent">是</label>
                            <label><input id="dl1" class="aui-radio" type="radio" value="1" name="is_agent">否</label>
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">佣金：</div>
                        <div class="aui-list-item-input yongjing">
                            <input id="agent_proportion" name="agent_proportion" type="number" value="" placeholder="0" class="yongjing1 aui-padded-r-5">
                            <span>%</span>
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner aui-list-item-center aui-list-item-btn">
                        <div onclick="tijiao()" class="aui-btn aui-btn-info aui-margin-r-5">提交</div>
                        <div onclick="closes();" class="aui-btn aui-btn-danger aui-margin-l-5">取消</div>
                        <input type="hidden" id="uida" value="">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--弹窗结束-->



<footer class="aui-bar aui-bar-tab" id="footer" style="background-color: #fff;">
    <div class="aui-bar-tab-item aui-active" tapmode>
        <a href="/home">
            <i class="aui-iconfont aui-img-21"><img src="/static/home/image/qhh-icon.png" /></i>
            <div class="aui-bar-tab-label aui-text-huangs">抢红包</div>
        </a>
    </div>
    <div class="aui-bar-tab-item" tapmode>
        <a href="/home/member/recharge">
            <i class="aui-iconfont aui-img-21"><img src="/static/home/image/cz-icon.png" /></i>
            <div class="aui-bar-tab-label aui-text-huangs">充值</div>
        </a>
    </div>
    <div class="aui-bar-tab-item" tapmode>
        <a href="/home/member/outred">
            <i class="aui-iconfont aui-img-21"><img src="/static/home/image/fhb-icon.png" /></i>
            <div class="aui-bar-tab-label aui-text-huangs">微信提现</div>
        </a>
    </div>
    <div class="aui-bar-tab-item" tapmode>
        <a href="/home/member/record">
            <i class="aui-iconfont aui-img-21"><img src="/static/home/image/yxjl-icon.png" /></i>
            <div class="aui-bar-tab-label aui-text-huangs">游戏记录</div>
        </a>
    </div>
    <div class="aui-bar-tab-item" tapmode>
        <a href="/home/member/agent">
            <i class="aui-iconfont aui-img-21"><img src="/static/home/image/dlzx-icon.png" /></i>
            <div class="aui-bar-tab-label aui-text-huangs">代理中心</div>
        </a>
    </div>
</footer>

<script type="text/javascript" src="/static/home/script/jquery-3.2.1.min.js" ></script>

<script type="text/javascript" src="/static/home/script/jquery-3.2.1.min.js" ></script>
<script type="text/javascript" src="/static/home/script/layer.js" ></script>
<script type="text/javascript">
    shuju();
    function tijiao() {
        var uida=$("#uida").val();
        var agent_proportion=$("#agent_proportion").val();
        var is_agent=$("input[type='radio']:checked").val();
        $.get("/home/member/dailiset?id="+uida+"&agent_proportion="+agent_proportion+"&is_agent="+is_agent,function(data,status){
            if(status=='success'){
                var dataObj=data;//转换为json对象
                $("#setdaili").hide();
                layer.open({
                    content: dataObj.msg
                    ,btn: '我知道了'
                });
                shuju();
            }
        });
    }
    function daili(memberId,headimgurl,nickname,is_agent,agent_proportion) {
        $("#setdaili").show();
        $("#useridaa").html(memberId);
        $("#user_imgaa").attr('src',headimgurl);
        $("#nicknameaa").html(decodeURI(nickname));
        $("#agent_proportion").val(agent_proportion);
        $("#uida").val(memberId);
        $("#dl1").removeAttr("checked");
        $("#dl2").removeAttr("checked");
        if(is_agent=='1'){
            $("#dl1").attr("checked","checked");
            $("#dl2").removeAttr("checked");
        }else{
            $("#dl2").attr("checked","checked");
            $("#dl1").removeAttr("checked");
        }
    }
    function closes() {
        $("#setdaili").hide();
    }
    function shuju() {
        $.get("/home/member/getEarningsList2?",function(data,status){
            if(status=='success'){
                var dataObj=eval("("+data+")");//转换为json对象
                var code=dataObj.code;
                if(code=='2'){
                    layer.open({
                        content: dataObj.msg
                        ,btn: ['返回']
                        ,yes: function(index){
                            $(location).attr('href', '/home');
                        }
                    });
                }else{
                    $("#item").html('');
                    $.each(dataObj.request,function(i,item){
                        $("#item").append('<li onclick=daili('+item.memberId+',"'+item.headimgurl+'","'+encodeURI(item.nickname)+'","'+item.is_agent+'","'+item.agent_proportion+'") class="aui-list-item aui-list-item-middle">' +
                                '<div class="aui-media-list-item-inner">' +
                                '<div class="aui-list-item-media" style="width: 3rem;">' +
                                '<img src="'+item.headimgurl+'" class="aui-img-round">' +
                                '</div>' +
                                '<div class="aui-list-item-inner aui-list-item-arrow">' +
                                '<div class="aui-list-item-text">' +
                                '<div class="aui-list-item-title aui-font-size-14">'+item.nickname+'</div>' +
                                '<div class="aui-list-item-right">佣金:'+item.agentMoney+'</div>' +
                                '</div>' +
                                '<div class="aui-list-item-text">' +
                                '<div class="aui-list-item-title aui-font-size-14">赚取:' +item.memberMoney+'</div>' +
                                '<div class="aui-list-item-right"></div>' +
                                '</div></div></div></li>');
                    });
                }
            }
        });
    }
</script>


<script type="text/javascript">
    $(document).ready(function(){
        $.get("/home/login/getMemberInfo",function(data,status){
            if(status=='success'){
                var dataObj=eval("("+data+")");//转换为json对象
                var code=dataObj.code;
                if(code=='1'){
                    // if(dataObj.request.username==''){
                    //     $(location).attr('href', '/home/login/usernameset');
                    // }
                    $("#money").html(dataObj.request.golds);
                    $("#headimgurl").attr('src',dataObj.request.headimgurl);
                    $("#nickname").html(dataObj.request.nickname);
                    $("#userid").html(dataObj.request.id);
                    $("#zxrs").html(dataObj.request.numberOnline);
                }
            }
        });
    });
</script>

<script type="text/javascript">
    /**
     * 时间戳转换日期
     * @param <int> unixTime  待时间戳(秒)
     * @param <bool> isFull  返回完整时间(Y-m-d 或者 Y-m-d H:i:s)
     */
    function formatDate(unixTime, type) {
        var time = new Date(unixTime * 1000);
        var year=time.getUTCFullYear();
        var month=time.getUTCMonth()+1;
        var date=time.getUTCDate();
        var hour=getzf(time.getHours());
        var minute=getzf(time.getMinutes());
        var second=getzf(time.getUTCSeconds());
        switch(type){
            case 1:
                return hour+":"+minute+":"+second;
            case 2:
                return month+"-"+date+" "+hour+":"+minute;
            default:
                return year+"-"+month+"-"+date+" "+hour+":"+minute+":"+second;
        }
    }
    //补0操作
    function getzf(num){
        if(parseInt(num) < 10){
            num = '0'+num;
        }
        return num;
    }
</script>
</body>
</html>
