{{template "manage_header" }}
<div class="layui-tab" style="overflow: visible" lay-filter="goods_tab">

    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">

            <a href="add?t={{.table}}" class="layui-btn">新增</a>
            <table class="layui-table">
                <thead>
                <tr>
                    {{range $i,$row := .list}}
                        {{if eq $i 0}}
                            {{range $v := $row}}
                                <th>{{$v.Title}}</th>
                            {{end}}
                        {{end}}
                    {{end}}
                    <td>操作</td>
                </tr>
                </thead>
                <tbody>
                {{range $i,$row := .list}}
                <tr>
                    {{range $v := $row}}
                         <td>{{$v.Value}}</td>
                    {{end}}
                    <td>
                        <form action="edit" method="post">
                            <input class="input_id_{{$i}}" type="hidden" name="id" value="">
                            <button class="layui-btn" type="submit" >编辑</button>
                        </form>


                    </td>
                </tr>
                {{end}}
                </tbody>
            </table>
        </div>
    </div>
</div>



<script>

    $(document).ready(function () {
        var ids = {{.ids}}
        ids = eval('('+ids+')');

        for(var i=0; i<ids.length; i++ ){
            $(".input_id_"+i).val(ids[i].Id);
        }
    });

    $(".jump_btn").on("click", function (e) {
        var id = $(this).data("id");
        $(".table_item").hide();
        $("#table_"+id).show();
    });

    //更新
    common.bindAjax("submit", ".form_list_item", function (e) {
        e.preventDefault();
        return window.confirm("确定更新该条配置吗？");
    }, function (req, res) {
        common.msg("消息", res.msg);
    });

</script>

{{template "manage_footer" }}