{{template "manage_header" }}
<div class="layui-tab" style="overflow: visible" lay-filter="goods_tab">

    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">

            <a href="add?t={{.table}}" class="layui-btn">新增</a>
            <table class="layui-table">
                <thead>
                <tr>
                    <td>当前版本</td>
                    <td>下载链接</td>
                    <td>操作</td>
                </tr>
                </thead>
                <tbody>
                {{range $k,$v := .config}}
                <tr>
                    <td>{{$v.CurVersion}}</td>
                    <td>{{$v.BaseDownloadUrl}}</td>
                    <td>
                            <button class="layui-btn" type="submit"  data-curversion="{{$v.CurVersion}}" data-basedownloadurl="{{$v.BaseDownloadUrl}}" data-objid="{{$v.Id.Hex}}">编辑</button>
                    </td>
                </tr>
                {{end}}
                </tbody>
            </table>
        </div>
    </div>
</div>

<form class="layui-form" action="/admin/config/game/editUpdateLogin" method="post" id="form" style="display: none">
    <input type="hidden" name="id" id="Game" value="">
    <div class="layui-form-item">
        <label class="layui-form-label"  style="width: 120px">当前版本</label>
        <div class="layui-input-inline">
            <input type="text" name="CurVersion" lay-verify="CurVersion" id="CurVersion" placeholder="请输入" autocomplete="off" class="layui-input" value="">
        </div>
        <label class="layui-form-label" style="width: 120px">下载链接</label>
        <div class="layui-input-inline">
            <input type="text" name="BaseDownloadUrl" lay-verify="BaseDownloadUrl" id="BaseDownloadUrl" placeholder="请输入" autocomplete="off" class="layui-input" value="">
        </div>
    </div>




    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="demo1" type="submit">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>


<script>

    $(document).ready(function () {
        var ids = {{.ids}}
        ids = eval('('+ids+')');

        for(var i=0; i<ids.length; i++ ){
            $(".input_id_"+i).val(ids[i].Id);
        }
    });

    $(".jump_btn").on("click", function (e) {
        var id = $(this).data("id");
        $(".table_item").hide();
        $("#table_"+id).show();
    });

    //更新
    common.bindAjax("submit", ".layui-form", function (e) {
        e.preventDefault();
        return window.confirm("确定更新该条配置吗？");
    }, function (req, res) {
        common.msg("消息", res.msg);
        window.location.reload();
    });

    layui.use('layer', function() {

        var layer = layui.layer;
        $(".layui-table td button").click(function () {
            $("#CurVersion").val(this.dataset.curversion)
            $("#BaseDownloadUrl").val(this.dataset.basedownloadurl)
            $("#Game").val(this.dataset.objid)
            layer.open({
                type: 1,
                skin: 'layui-layer-rim', //加上边框
                area: ['720px', '540px'], //宽高
                content: $("#form")
            });
        })



    })
</script>

{{template "manage_footer" }}