{{template "manage_header" }}
<div class="layui-tab" style="overflow: visible" lay-filter="goods_tab">

    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">

            <a href="add?t={{.table}}" class="layui-btn">新增</a>
            <table class="layui-table">
                <thead>
                <tr>
                    <td>游戏ID</td>
                    <td>游戏</td>
                    <td>当前版本</td>
                    <td>是否需要强制升级</td>
                    <td>是否在维护中</td>
                    <td>维护信息</td>
                    <td>已经发布的版本</td>
                    <td>下载链接</td>
                    <td>最后的版本号</td>
                    <td>ip</td>
                    <td>端口</td>
                    <td>状态</td>
                    <td>操作</td>
                </tr>
                </thead>
                <tbody>
                {{range $k,$v := .config}}
                <tr>
                    <td>{{$v.GameId}}</td>
                    <td>{{$v.Name}}</td>
                    <td>{{$v.CurVersion}}</td>
                    <td>{{$v.IsUpdate}}</td>
                    <td>{{$v.IsMaintain}}</td>
                    <td>{{$v.MaintainMsg}}</td>
                    <td>{{$v.ReleaseTag}}</td>
                    <td>{{$v.DownloadUrl}}</td>
                    <td>{{$v.LatestClientVersion}}</td>
                    <td>{{$v.IP}}</td>
                    <td>{{$v.PORT}}</td>
                    <td>{{$v.STATUS}}</td>
                    <td>
                            <button class="layui-btn" type="submit"  data-id="{{$v.GameId}}" data-sort="{{$v.STATUS}}" data-name="{{$v.Name}}" data-curversion="{{$v.CurVersion}}"
                                    data-isupdate="{{$v.IsUpdate}}" data-ismaintain="{{$v.IsMaintain}}" data-releasetag="{{$v.ReleaseTag}}" data-downloadurl="{{$v.DownloadUrl}}"
                                    data-latestclientversion="{{$v.LatestClientVersion}}" data-ip="{{$v.IP}}" data-port="{{$v.PORT}}" data-objid="{{$v.Id.Hex}}"
                            data-status="{{$v.STATUS}}" data-maintain-msg="{{$v.MaintainMsg}}">编辑</button>
                    </td>
                </tr>
                {{end}}
                </tbody>
            </table>
        </div>
    </div>
</div>

<form class="layui-form" action="/admin/config/game/editUpdate" method="post" id="form" style="display: none">
    <input type="hidden" name="id" id="Game" value="">
    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 120px">游戏ID</label>
        <div class="layui-input-inline">
            <input type="text" name="GameId" lay-verify="GameId" id="GameId" autocomplete="off" placeholder="请输入ID" class="layui-input" value="">
        </div>

        <label class="layui-form-label" style="width: 120px">游戏</label>
        <div class="layui-input-inline">
            <input type="text" name="Name" lay-verify="Name" id="Name" placeholder="请输入" autocomplete="off" class="layui-input" value="">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"  style="width: 120px">当前版本</label>
        <div class="layui-input-inline">
            <input type="text" name="CurVersion" lay-verify="CurVersion" id="CurVersion" placeholder="请输入" autocomplete="off" class="layui-input" value="">
        </div>

        <label class="layui-form-label" style="width: 120px">是否需要强制升级</label>
        <div class="layui-input-inline">
            <input type="text" name="IsUpdate" lay-verify="IsUpdate" id="IsUpdate" placeholder="请输入" autocomplete="off" class="layui-input" value="">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 120px">是否在维护中</label>
        <div class="layui-input-inline">
            <input type="text" name="IsMaintain" lay-verify="IsMaintain" id="IsMaintain" placeholder="请输入" autocomplete="off" class="layui-input" value="">
        </div>
        <label class="layui-form-label" style="width: 120px">已经发布的版本</label>
        <div class="layui-input-inline">
            <input type="text" name="ReleaseTag" lay-verify="ReleaseTag" id="ReleaseTag" placeholder="请输入" autocomplete="off" class="layui-input" value="">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 120px">下载链接</label>
        <div class="layui-input-inline">
            <input type="text" name="DownloadUrl" lay-verify="DownloadUrl" id="DownloadUrl" placeholder="请输入" autocomplete="off" class="layui-input" value="">
        </div>
        <label class="layui-form-label"  style="width: 120px">最后的版本号</label>
        <div class="layui-input-inline">
            <input type="text" name="LatestClientVersion" lay-verify="LatestClientVersion" id="LatestClientVersion" placeholder="请输入" autocomplete="off" class="layui-input" value="">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"  style="width: 120px">IP</label>
        <div class="layui-input-inline">
            <input type="text" name="IP" lay-verify="IP" id="IP" placeholder="请输入" autocomplete="off" class="layui-input" value="">
        </div>
        <label class="layui-form-label" style="width: 120px">端口</label>
        <div class="layui-input-inline">
            <input type="text" name="PORT" lay-verify="PORT" id="PORT" placeholder="请输入" autocomplete="off" class="layui-input" value="">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 120px">状态码</label>
        <div class="layui-input-inline">
            <input type="text" name="STATUS" lay-verify="STATUS" id="STATUS" placeholder="请输入" autocomplete="off" class="layui-input" value="">
        </div>
        <label class="layui-form-label" style="width: 120px">维护信息</label>
        <div class="layui-input-inline">
            <input type="text" name="MaintainMsg" lay-verify="MaintainMsg" id="MaintainMsg" placeholder="请输入" autocomplete="off" class="layui-input" value="">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="demo1" type="submit">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>


<script>

    $(document).ready(function () {
        var ids = {{.ids}}
        ids = eval('('+ids+')');

        for(var i=0; i<ids.length; i++ ){
            $(".input_id_"+i).val(ids[i].Id);
        }
    });

    $(".jump_btn").on("click", function (e) {
        var id = $(this).data("id");
        $(".table_item").hide();
        $("#table_"+id).show();
    });

    //更新
    common.bindAjax("submit", ".layui-form", function (e) {
        e.preventDefault();
        return window.confirm("确定更新该条配置吗？");
    }, function (req, res) {
        common.msg("消息", res.msg);
        window.location.reload();
    });

    layui.use('layer', function() {

        var layer = layui.layer;
        $(".layui-table td button").click(function () {
            $("#GameId").val(this.dataset.id)
            $("#Sort").val(this.dataset.sort)
            $("#Name").val(this.dataset.name)
            $("#CurVersion").val(this.dataset.curversion)
            $("#IsUpdate").val(this.dataset.isupdate)
            $("#IsMaintain").val(this.dataset.ismaintain)
            $("#ReleaseTag").val(this.dataset.releasetag)
            $("#DownloadUrl").val(this.dataset.downloadurl)
            $("#LatestClientVersion").val(this.dataset.latestclientversion)
            $("#IP").val(this.dataset.ip)
            $("#PORT").val(this.dataset.port)
            $("#STATUS").val(this.dataset.status)
            $("#MaintainMsg").val(this.dataset.maintainMsg)
            $("#Game").val(this.dataset.objid)
            layer.open({
                type: 1,
                skin: 'layui-layer-rim', //加上边框
                area: ['720px', '540px'], //宽高
                content: $("#form")
            });
        })



    })
</script>

{{template "manage_footer" }}