{{template "manage_header" }}
<form id="form_list" action="" method="get">
    <input type="hidden" name="page" value="{{.page.page}}">
</form>
<table class="layui-table">
    <thead>
    <tr>
        <th>ID</th>
        <th>用户</th>
        <th>数量</th>
        <th>时间</th>
        <th>状态</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody id="Data">
    {{range $k,$v := .withdrawals.data}}
    <tr>
        <td>{{$v.Id}}</td>
        <td>{{$v.username}}</td>
        <td>{{$v.Number}}</td>
        <td>{{$v.Time}}</td>
        <td>
        {{if eq $v.Status 0}}未受理{{end}}
        {{if eq $v.Status 1}}已受理{{end}}
        {{if eq $v.Status 2}}已拒绝{{end}}
        </td>
        {{/*<td><a href="/admin/manage/agent?pid={{$v.Id}}">点击查看</a></td>*/}}
        <td>
        {{if eq $v.Status 2 0}}
            <a href='/admin/manage/Withdrawals/operation?id={{$v.Id}}&types=ok' class="layui-btn layui-btn-sm agree-btn" type="button">同意</a>
         {{end}}
        {{if eq $v.Status 1 0}}
            <a class="layui-btn layui-btn-sm layui-btn-normal agree-btn" href='/admin/manage/Withdrawals/operation?id={{$v.Id}}&types=no' type="button">拒绝</a>
        {{end}}
            <a class="layui-btn layui-btn-sm layui-btn-danger agree-btn" href='/admin/manage/Withdrawals/operation?id={{$v.Id}}&types=del' type="button">删除</a>
        </td>
    </tr>
    {{end}}
    </tbody>
</table>
<div style="height: 35px;width: 750px;">
    <div id="view_page"></div>
</div>

<script>
    common.bindAjax("click", ".agree-btn", function (e) {
        e.preventDefault();
        return window.confirm("是否同意？")
    }, function (req, res) {
        console.log("tagree ", res)
    })
</script>

{{template "manage_footer" }}