{{define "header"}}<head>    <meta charset="utf-8">    <title>{{.Title}}</title>    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">    <link rel="stylesheet" type="text/css" href="/css/main.css"/>    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script></head>{{end}}