{{ template "weixin_header" }}
<style>
    .layui-form-label {
        width: 100px;
        text-align: right;
    }
</style>
<div style="margin-top: 100px">
    <h3 style="text-align: center">代理后台-代理申请</h3>
</div>
<!--<div style="width: 440px; margin: 0 auto; border: solid 2px darkgrey; padding: 20px 20px 30px 0">-->
    <form class="layui-form" method="post" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">真实姓名</label>
            <div class="layui-input-block">
                <input type="text" name="name" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">联系电话</label>
            <div class="layui-input-block">
                <input type="tel" name="phone" lay-verify="phone" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" style="display: {{if eq .code ""}}block{{else}}none{{end}}">
            <label class="layui-form-label">邀请人Id</label>
            <div class="layui-input-block">
                <input type="number" name="invited" placeholder="如果没有，可以不填。" value="{{.code}}" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" align="center">
            {{.Captcha.CreateHtml}}
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">验证码</label>
            <div class="layui-input-block">
                <input type="number" name="captcha" value="" lay-verify="number" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
<!--</div>-->

<script>
    $("title").html("代理后台-棋牌代理申请");
    layui.use(["form"], function () {

    })
</script>
{{ template "weixin_footer" }}
