{{ template "weixin_header" }}
<div class="alert alert-info alert-dismissable" role="alert">
    <button class="close" type="button" onclick="$('.alert').eq(0).hide();">&times;</button>
    <span></span>
</div>
<!--顶部 导航栏部分-->
<nav class="nav navbar-default navbar-mystyle navbar-fixed-top">
    <div class="navbar-header">
        <a id="back-btn" href="javascript:history.go(-1);">
            <span id="back-text">返回</span>
        </a>
        <span><a id="logo-text" href="/weixin/agent">代理后台</a></span>
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!--<a class="navbar-brand mystyle-brand" href="#"><span class="glyphicon glyphicon-home"></span></a>-->
    </div>
    <div class="collapse navbar-collapse" style="background-color: #394555;">
        <ul class="nav navbar-nav pull-right">
            <!--<li class="dropdown li-border" id="oSpan"><a href="#" class="dropdown-toggle mystyle-color" data-toggle="dropdown">选择游戏后台<span class="caret"></span></a>-->
            <!--<ul class="dropdown-menu" id="choseGame">-->
            <!--</ul>-->
            <!--</li>-->
            <li class="dropdown li-border"><a href="#" class="dropdown-toggle mystyle-color" data-toggle="dropdown"><span id="userNick">{{.wx_user.Nickname}}</span><span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#" id="logout">退出</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
    <!--右侧主体部分-->
    <div class="right-product my-index right-off">
        <div class="">
            <div class="info-center">
                <div class="page-header">
                    <div class="pull-left">
                        <h4>充值<small id="gameName">四川麻将会员代理后台</small></h4>
                    </div>
                </div>
                <div class="indentify-class padding-lr">
                    <ul class="class-content">
                        {{range $k,$v := .goods_list}}
                        <li class="pull-left margin-large-20">
                            <ul class="class-detail-has margin-top text-lh-big class-detail-top class-detail pull-right">
                                <li><span class="text-black-gray">充值:</span><span class="pull-right text-gray-white">{{$v.Num}} {{$v.Type}}</span></li>
                                <li><span class="text-black-gray">赠送:</span><span class="pull-right text-gray-white">{{$v.GiveNum}} {{$v.Type}}</span></li>
                                <li><span class="text-black-gray">价格:</span><span class="pull-right text-gray-white">{{$v.Price}} 元</span></li>
                                <a class="continue text-big" href="/weixin/agent/recharge/done?goods_id={{$v.GoodsId}}">充值</a>
                            </ul>
                        </li>
                        {{end}}
                        <!--<li class="pull-left margin-large-20">-->
                            <!--<ul class="class-detail-has margin-top text-lh-big class-detail-top class-detail pull-right">-->
                                <!--<li><span class="text-black-gray">充值:</span><span class="pull-right text-gray-white">500钻石</span></li>-->
                                <!--<li><span class="text-black-gray">赠送:</span><span class="pull-right text-gray-white">1500钻石</span></li>-->
                                <!--<li><span class="text-black-gray">价格:</span><span class="pull-right text-gray-white">300元</span></li>-->
                                <!--<a class="continue text-big" data="3">充值</a>-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!--<li class="pull-left margin-large-20">-->
                            <!--<ul class="class-detail-has margin-top text-lh-big class-detail-top class-detail pull-right">-->
                                <!--<li><span class="text-black-gray">充值:</span><span class="pull-right text-gray-white">900钻石</span></li>-->
                                <!--<li><span class="text-black-gray">赠送:</span><span class="pull-right text-gray-white">2700钻石</span></li>-->
                                <!--<li><span class="text-black-gray">价格:</span><span class="pull-right text-gray-white">500元</span></li>-->
                                <!--<a class="continue text-big" data="4">充值</a>-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!--<li class="pull-left margin-large-20">-->
                            <!--<ul class="class-detail-has margin-top text-lh-big class-detail-top class-detail pull-right">-->
                                <!--<li><span class="text-black-gray">充值:</span><span class="pull-right text-gray-white">1900钻石</span></li>-->
                                <!--<li><span class="text-black-gray">赠送:</span><span class="pull-right text-gray-white">5700钻石</span></li>-->
                                <!--<li><span class="text-black-gray">价格:</span><span class="pull-right text-gray-white">1000元</span></li>-->
                                <!--<a class="continue text-big" data="5">充值</a>-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!--<li class="pull-left margin-large-20">-->
                            <!--<ul class="class-detail-has margin-top text-lh-big class-detail-top class-detail pull-right">-->
                                <!--<li><span class="text-black-gray">充值:</span><span class="pull-right text-gray-white">4000钻石</span></li>-->
                                <!--<li><span class="text-black-gray">赠送:</span><span class="pull-right text-gray-white">8000钻石</span></li>-->
                                <!--<li><span class="text-black-gray">价格:</span><span class="pull-right text-gray-white">2000元</span></li>-->
                                <!--<a class="continue text-big" data="6">充值</a>-->
                            <!--</ul>-->
                        <!--</li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/weixin/js/slide_menu.js"></script>
<script src="/static/weixin/js/share.js"></script>
<script type="text/javascript">
    $("title").html("代理系统-充值");
</script>


{{ template "weixin_footer" }}
