<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>jQuery UI Sortable - Default functionality</title>
    <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">-->
    <script src="/layui/js/jquery-1.10.2.js"></script>
    <script src="/layui/js/jquery-ui.js"></script>
    <!--<link rel="stylesheet" href="/resources/demos/style.css">-->
    <style>
        #sortable {
            margin: 0;
            padding: 0;
            width: 80%;
            height: 270px
        }

        #sortable .ui-state-default {
            margin: 0 13px 3px 33px;
            padding-left: 1.5em;
            font-size: 1.4em;
            height: 38px;
            padding-bottom: 1.5em;
            display: inline-block
        }

        #sortable .ui-state-default img {
            position: absolute;
            margin-left: -1.3em;
            width: 50px;
        }
    </style>
    <script>
        $(function () {
            $("#sortable").sortable();
            $("#sortable").disableSelection();
        });
    </script>
</head>
<body>

<div id="sortable" style="width: 100%;height: 100%">
    <span class="ui-state-default"><img src='/img/dezou/blackspades2.png'><span style="display: none">1,</span></span>
    <span class="ui-state-default"><img src='/img/dezou/blackspades3.png'><span style="display: none">2,</span></span>
    <span class="ui-state-default"><img src='/img/dezou/blackspades4.png'><span style="display: none">3,</span></span>
    <span class="ui-state-default"><img src='/img/dezou/blackspades5.png'><span style="display: none">4,</span></span>
    <span class="ui-state-default"><img src='/img/dezou/blackspades6.png'><span style="display: none">5,</span></span>
    <span class="ui-state-default"><img src='/img/dezou/blackspades7.png'><span style="display: none">6,</span></span>
    <span class="ui-state-default"><img src='/img/dezou/blackspades8.png'><span style="display: none">7,</span></span>
    <span class="ui-state-default"><img src='/img/dezou/blackspades9.png'><span style="display: none">8,</span></span>
    <span class="ui-state-default"><img src='/img/dezou/blackspades10.png'><span style="display: none">9,</span></span>
    <span class="ui-state-default"><img src='/img/dezou/blackspades11.png'><span style="display: none">10,</span></span>
    <span class="ui-state-default"><img src='/img/dezou/blackspades12.png'><span style="display: none">11,</span></span>
    <span class="ui-state-default"><img src='/img/dezou/blackspades0.png'><span style="display: none">12,</span></span>
    <span class="ui-state-default"><img src='/img/dezou/blackspades1.png'><span style="display: none">13,</span></span>

    <span class="ui-state-default"><img src='/img/dezou/redhearts2.png'><span style="display: none">14,</span></span>
    <span class="ui-state-default"><img src='/img/dezou/redhearts3.png'><span style="display: none">15,</span></span>
    <span class="ui-state-default"><img src='/img/dezou/redhearts4.png'><span style="display: none">16,</span></span>
    <span class="ui-state-default"><img src='/img/dezou/redhearts5.png'><span style="display: none">17,</span></span>
    <span class="ui-state-default"><img src='/img/dezou/redhearts6.png'><span style="display: none">18,</span></span>
    <span class="ui-state-default"><img src='/img/dezou/redhearts7.png'><span style="display: none">19,</span></span>
    <span class="ui-state-default"><img src='/img/dezou/redhearts8.png'><span style="display: none">20,</span></span>
    <span class="ui-state-default"><img src='/img/dezou/redhearts9.png'><span style="display: none">21,</span></span>
    <span class="ui-state-default"><img src='/img/dezou/redhearts10.png'><span style="display: none">22,</span></span>
    <span class="ui-state-default"><img src='/img/dezou/redhearts11.png'><span style="display: none">23,</span></span>
    <span class="ui-state-default"><img src='/img/dezou/redhearts12.png'><span style="display: none">24,</span></span>
    <span class="ui-state-default"><img src='/img/dezou/redhearts0.png'><span style="display: none">25,</span></span>
    <span class="ui-state-default"><img src='/img/dezou/redhearts1.png'><span style="display: none">26,</span></span>

    <span class="ui-state-default"><img src='/img/dezou/blackclubs2.png'><span style="display: none">27,</span></span>
    <span class="ui-state-default"><img src='/img/dezou/blackclubs3.png'><span style="display: none">28,</span></span>
    <span class="ui-state-default"><img src='/img/dezou/blackclubs4.png'><span style="display: none">29,</span></span>
    <span class="ui-state-default"><img src='/img/dezou/blackclubs5.png'><span style="display: none">30,</span></span>
    <span class="ui-state-default"><img src='/img/dezou/blackclubs6.png'><span style="display: none">31,</span></span>
    <span class="ui-state-default"><img src='/img/dezou/blackclubs7.png'><span style="display: none">32,</span></span>
    <span class="ui-state-default"><img src='/img/dezou/blackclubs8.png'><span style="display: none">33,</span></span>
    <span class="ui-state-default"><img src='/img/dezou/blackclubs9.png'><span style="display: none">34,</span></span>
    <span class="ui-state-default"><img src='/img/dezou/blackclubs10.png'><span style="display: none">35,</span></span>
    <span class="ui-state-default"><img src='/img/dezou/blackclubs11.png'><span style="display: none">36,</span></span>
    <span class="ui-state-default"><img src='/img/dezou/blackclubs12.png'><span style="display: none">37,</span></span>
    <span class="ui-state-default"><img src='/img/dezou/blackclubs0.png'><span style="display: none">38,</span></span>
    <span class="ui-state-default"><img src='/img/dezou/blackclubs1.png'><span style="display: none">39,</span></span>

    <span class="ui-state-default"><img src='/img/dezou/reddiamonds2.png'><span style="display: none">40,</span></span>
    <span class="ui-state-default"><img src='/img/dezou/reddiamonds3.png'><span style="display: none">41,</span></span>
    <span class="ui-state-default"><img src='/img/dezou/reddiamonds4.png'><span style="display: none">42,</span></span>
    <span class="ui-state-default"><img src='/img/dezou/reddiamonds5.png'><span style="display: none">43,</span></span>
    <span class="ui-state-default"><img src='/img/dezou/reddiamonds6.png'><span style="display: none">44,</span></span>
    <span class="ui-state-default"><img src='/img/dezou/reddiamonds7.png'><span style="display: none">45,</span></span>
    <span class="ui-state-default"><img src='/img/dezou/reddiamonds8.png'><span style="display: none">46,</span></span>
    <span class="ui-state-default"><img src='/img/dezou/reddiamonds9.png'><span style="display: none">47,</span></span>
    <span class="ui-state-default"><img src='/img/dezou/reddiamonds10.png'><span style="display: none">48,</span></span>
    <span class="ui-state-default"><img src='/img/dezou/reddiamonds11.png'><span style="display: none">49,</span></span>
    <span class="ui-state-default"><img src='/img/dezou/reddiamonds12.png'><span style="display: none">50,</span></span>
    <span class="ui-state-default"><img src='/img/dezou/reddiamonds0.png'><span style="display: none">51,</span></span>
    <span class="ui-state-default"><img src='/img/dezou/reddiamonds1.png'><span style="display: none">52,</span></span>

    <span class="ui-state-default"><img src='/img/dezou/big.png'><span style="display: none">53,</span></span>
    <span class="ui-state-default"><img src='/img/dezou/small.png'><span style="display: none">54,</span></span>
</div>
<form action="/game/edit" id="form1" method="post">
    <div>
        <a id="demo" class="demo">查看</a>
        <input type="text" id="demo1" style="margin-bottom: 20px;border: none;width: 920px" name="game">
        <br>
        游戏: <select name="gameid">
        <option value="4">斗地主</option>
        <option value="7">跑得快</option>
    </select>
    </div>
    <button>提交</button>
</form>

<script>
    function removeAllSpace(str) {
        return str.replace(/\s+/g, "");
    }

    $(".demo").click(function () {

        var test = '';


        $("#sortable").each(function () {
            test = $(this).text()
            test = removeAllSpace(test)
            test = test.substr(0, test.length - 1)
        })


        $('#demo1').val(test);


    })
</script>

</body>
</html>