<!DOCTYPE html>

<html>

<head>
    {{template "header" .}}
    <title>test page</title>
</head>
<body>

<div class="container-fluid">
    <br>
    <div class="table-responsive panel panel-default">
        <div class="panel-heading">
            <p>heaader</p>
        </div>
        <div class="panel-body">
            <p>打印时间 {{.renderTime}}</p>
            <div class="">
<style>
    .img-responsive {
        display: inline !important;
    }
    .img-active {
        border-width: 2.5px;
        border-color: crimson;
        border-style: dashed;
    }
</style>
                <img src="./pokers/poker_word_up1.png" class="img-responsive" alt="Responsive image">
                <img src="./pokers/poker_word_up1.png" class="img-responsive" alt="Responsive image">
                <img src="./pokers/poker_word_up1.png" class="img-responsive" alt="Responsive image">
                <img src="./pokers/poker_word_up1.png" class="img-responsive" alt="Responsive image">
                <img src="./pokers/poker_word_up1.png" class="img-responsive" alt="Responsive image">
                <img src="./pokers/poker_word_up1.png" class="img-responsive" alt="Responsive image">
                <img src="./pokers/poker_word_up1.png" class="img-responsive" alt="Responsive image">
                <img src="./pokers/poker_word_up1.png" class="img-responsive" alt="Responsive image">
                <img src="./pokers/poker_word_up1.png" class="img-responsive" alt="Responsive image">
                <img src="./pokers/poker_word_up1.png" class="img-responsive" alt="Responsive image">
                <img src="./pokers/poker_word_up1.png" class="img-responsive" alt="Responsive image">
                <img src="./pokers/poker_word_up1.png" class="img-responsive" alt="Responsive image">
                <img src="./pokers/poker_word_up1.png" class="img-responsive" alt="Responsive image">
                <img src="./pokers/poker_word_up1.png" class="img-responsive" alt="Responsive image">
                <img src="./pokers/poker_word_up1.png" class="img-responsive" alt="Responsive image">
                <img src="./pokers/poker_word_up1.png" class="img-responsive" alt="Responsive image">
                <img src="./pokers/poker_word_up1.png" class="img-responsive" alt="Responsive image">
                <img src="./pokers/poker_word_up1.png" class="img-responsive" alt="Responsive image">
                <img src="./pokers/poker_word_up1.png" class="img-responsive" alt="Responsive image">
                <img src="./pokers/poker_word_up1.png" class="img-responsive" alt="Responsive image">
                <img src="./pokers/poker_word_up1.png" class="img-responsive" alt="Responsive image">
                <img src="./pokers/poker_word_up1.png" class="img-responsive" alt="Responsive image">
                <img src="./pokers/poker_word_up1.png" class="img-responsive" alt="Responsive image">
                <img src="./pokers/poker_word_up1.png" class="img-responsive" alt="Responsive image">
                <img src="./pokers/poker_word_up1.png" class="img-responsive" alt="Responsive image">
                <img src="./pokers/poker_word_up1.png" class="img-responsive" alt="Responsive image">
                <img src="./pokers/poker_word_up1.png" class="img-responsive" alt="Responsive image">
                <img src="./pokers/poker_word_up1.png" class="img-responsive" alt="Responsive image">
            </div>
        </div>
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>＃</th>
                <th>玩家Id</th>
                <th>nickname</th>
                <th>玩家状态</th>
                <th>是否定缺</th>
                <th>网络状态</th>
                <th>是否离开</th>
                <th>缺</th>
                <th>换出三张</th>
                <th>换入三张</th>
                <th>手牌</th>
                <th>碰牌</th>
                <th>杠牌</th>
                <th>胡牌</th>
                <th>inpai</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>

                <td>已定缺</td>

                <td>掉线...</td>

                <td>未离开</td>


                <td>万</td>

                <td>1</td>

                <td>6</td>

                <td><img src="./pokers/poker_word_up1.png" class="img-responsive" alt="Responsive image">
                    <img src="./pokers/poker_word_up1.png" class="img-responsive" alt="Responsive image">
                    <img src="./pokers/poker_word_up1.png" class="img-responsive" alt="Responsive image">
                    <img src="./pokers/poker_word_up1.png" class="img-responsive" alt="Responsive image">
                    <img src="./pokers/poker_word_up1.png" class="img-responsive" alt="Responsive image">
                    <img src="./pokers/poker_word_up1.png" class="img-responsive" alt="Responsive image">
                    <img src="./pokers/poker_word_up1.png" class="img-responsive" alt="Responsive image">
                    <img src="./pokers/poker_word_up1.png" class="img-responsive" alt="Responsive image">
                    <img src="./pokers/poker_word_up1.png" class="img-responsive" alt="Responsive image">
                    <img src="./pokers/poker_word_up1.png" class="img-responsive" alt="Responsive image">
                    <img src="./pokers/poker_word_up1.png" class="img-responsive" alt="Responsive image">
                    <img src="./pokers/poker_word_up1.png" class="img-responsive" alt="Responsive image">
                    <img src="./pokers/poker_word_up1.png" class="img-responsive" alt="Responsive image">
                    <img src="./pokers/poker_word_up1.png" class="img-responsive" alt="Responsive image">
                    <img src="./pokers/poker_word_up1.png" class="img-responsive" alt="Responsive image">
                    <img src="./pokers/poker_word_up1.png" class="img-responsive" alt="Responsive image"></td>

                <td>1</td>

                <td>2</td>

                <td>3</td>

                <td>5</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
    <div class="col-md-3">
        <nav>
            <ul class="pagination">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>


<!-- 设置当前页面才有的状态 -->
<script>
    $("#nav-li-golang").addClass("active")
</script>

