<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>扎金花--牌桌状态</title>
    {{template "header"}}
</head>
<body>
<ol class="breadcrumb">
    <li><a href="/roomlist">房间</a></li>
    {{if .disk}}
    <li><a href="/desklist/{{.desk.GetRoomId}}">牌桌</a></li>
    {{else}}
    <li class="active">牌桌</li>
    {{end}}
    <li class="active">详情</li>
</ol>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">扎金花--牌桌状态</div>

    <!-- Table -->
    <table class="table">
        <thead>
        <th>牌桌id</th>
        <th>游戏编号</th>
        <th>房间id</th>
        <th>当前人数</th>
        <th>正在游戏</th>
        <th>正在血拼</th>
        <th>上个说话的人</th>
        <th>下个说话的人</th>
        <th>上局赢家</th>
        <th>当前底注</th>
        <th>全部跟注</th>
        <th>当前圈数</th>
        </thead>
        <tbody>
        {{if .desk}}
        <tr>
            <td>{{.desk.GetDeskId}}</td>
            <td>{{.desk.GetGameNumber}}</td>
            <td>{{.desk.GetRoomId}}</td>
            <td>{{.desk.GetUserCount}}</td>
            <td>{{if .desk.GetIsGamming}}是{{else}}否{{end}}</td>
            <td>{{if .desk.IsXuepinOver}}否{{else}}是{{end}}</td>
            <td>{{.desk.GetLastUser}}</td>
            <td>{{.desk.GetNextUserId}}</td>
            <td>{{.desk.GetLastWiner}}</td>
            <td>{{.desk.GetCuurBaseValue}}</td>
            <td>{{.desk.CoinCount}}</td>
            <td>{{.desk.GetCircleNo}}</td>
        </tr>
        {{end}}
        </tbody>
    </table>
</div>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">用户状态</div>
    <table class="table">
        <thead>
        <th>用户id</th>
        <th>座位号</th>
        <th>金币</th>
        <th>已押注</th>
        <th>状态</th>
        <th>是否弃牌</th>
        <th>是否看牌</th>
        <th>是否比牌输</th>
        <th>牌值</th>
        </thead>
        <tbody>
        {{if .desk}}
        {{range $k,$user := .desk.Users}}
        {{if $user}}
        <tr>
            <td>{{$user.GetUserId}}</td>
            <td>{{$user.Index}}</td>
            <td>{{$user.GetCoin}}</td>
            <td>{{$user.GetData.GetBill}}</td>
            <td>
                {{if eq $user.Status.String "zjh_S_READY"}}
                已准备
                {{else if eq $user.Status.String "zjh_S_SITED"}}
                待准备
                {{else if eq $user.Status.String "zjh_S_GAMING"}}
                游戏中
                {{else if eq $user.Status.String "zjh_S_STANDING"}}
                站起
                {{else if eq $user.Status.String "zjh_S_OFFLINE"}}
                断线
                {{end}}
            </td>
            <td>{{if $user.GetIsDiscard}}是{{else}}否{{end}}</td>
            <td>{{if $user.GetIsWatch}}是{{else}}否{{end}}</td>
            <td>{{if $user.GetIsLost}}是{{else}}否{{end}}</td>
            <td>
                {{range $kk,$pai := $user.GetData.GetPai.GetPais}}
                    {{if eq $pai.GetFlower 1}}方块
                    {{else if eq $pai.GetFlower 2}}梅花
                    {{else if eq $pai.GetFlower 3}}红桃
                    {{else if eq $pai.GetFlower 4}}黑桃
                    {{end}}
                    {{$pai.GetName}}&nbsp;&nbsp;
                {{end}}
                ：
                {{if eq $user.GetData.GetPai.GetType.String "ZJHTYPE_GAOPAI"}}高牌
                {{else if eq $user.GetData.GetPai.GetType.String "ZJHTYPE_DUIZI"}}对子
                {{else if eq $user.GetData.GetPai.GetType.String "ZJHTYPE_LIANZI"}}顺子
                {{else if eq $user.GetData.GetPai.GetType.String "ZJHTYPE_QING"}}同花
                {{else if eq $user.GetData.GetPai.GetType.String "ZJHTYPE_QINGLIAN"}}同花顺
                {{else if eq $user.GetData.GetPai.GetType.String "ZJHTYPE_BAOZI"}}三条
                {{end}}
            </td>
        </tr>
        {{end}}
        {{end}}
        {{end}}
        </tbody>
    </table>
</div>
{{if .desk}}
{{else}}
<p align="center">该牌桌不存在！</p>
{{end}}
</body>
</html>
