{{ template "weixin_header" }}
<center>
    <form style="padding: 0 auto" id="form_pay" action="/weixin/agent/recharge/wx_pay">
        <table align="center" class="layui-table" style="width: 30rem">
            <caption style="text-align: center;">订单确认</caption>
            <tbody>
            <tr>
                <th>订单号：</th>
                <td>{{.order.Id.Hex}}</td>
                <input type="hidden" name="order_id" value="{{.order.Id.Hex}}">
            </tr>
            <tr>
                <th>详情：</th>
                <td>{{.order.Detail}}</td>
            </tr>
            <tr>
                <th>金额：</th>
                <td>￥{{.order.Money}}</td>
            </tr>
            <tr>
                <th>时间：</th>
                <td>{{.order.AddTime.Format "2006-01-02 15:04:05"}}</td>
            </tr>
            <tr>
                <th>支付方式：</th>
                <td>微信</td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" class="layui-btn" value="确认支付">
                    <a href="/weixin/agent/recharge"><input type="button" class="layui-btn layui-btn-primary" value="取消"></a>
                </td>
            </tr>

            </tbody>
        </table>
    </form>
</center>

<script>
    $("title").html("代理系统-订单确认");
    $(document).ready(function () {
        var prepay_data = {};
        common.bindAjax("submit", "#form_pay", function (e) {
            e.preventDefault();
            if (typeof WeixinJSBridge == "undefined"){
                common.msg("消息","请在微信浏览器中打开！");
                return false
            }
            return true
        }, function (req, res) {
            if(res.code != 1){
                common.msg("消息", res.msg);
            }else {
                onBridgeReady(res.data)
            }
        });
        function onBridgeReady(data){
            WeixinJSBridge.invoke(
                'getBrandWCPayRequest', data,
                function(res){
                    if(res.err_msg == "get_brand_wcpay_request:ok") {
                        common.msg("消息", "恭喜你,支付成功！");
                    }else {
                        common.msg("消息","支付失败！")
                    }    // 使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回    ok，但并不保证它绝对可靠。
                }
            );
        }
    });
</script>

{{ template "weixin_footer" }}
