{{ template "weixin_header" }}
<div class="alert alert-info alert-dismissable" role="alert">
    <button class="close" type="button" onclick="$('.alert').eq(0).hide();">&times;</button>
    <span></span>
</div>
<!--顶部 导航栏部分-->
<nav class="nav navbar-default navbar-mystyle navbar-fixed-top">
    <div class="navbar-header">
        <span><a href="/weixin/" style="font-family: 微软雅黑;font-size: 2rem;line-height: 50px;margin-left: 2rem;font-weight: bold;color: darkgrey">动点游戏</a></span>
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!--<a class="navbar-brand mystyle-brand" href="#"><span class="glyphicon glyphicon-home"></span></a>-->
    </div>
    <div class="collapse navbar-collapse" style="background-color: #394555;">
        <ul class="nav navbar-nav pull-right">
            <!--<li class="dropdown li-border" id="oSpan"><a href="#" class="dropdown-toggle mystyle-color" data-toggle="dropdown">选择游戏后台<span class="caret"></span></a>-->
            <!--<ul class="dropdown-menu" id="choseGame">-->
            <!--</ul>-->
            <!--</li>-->
            <li class="dropdown li-border"><a href="#" class="dropdown-toggle mystyle-color" data-toggle="dropdown"><span id="userNick">{{.wx_user.Nickname}}</span><span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#" id="logout">退出</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<!--左侧菜单栏部分-->
<div class="down-main">
    <div class="left-main left-off">
        <div class="sidebar-fold"><span class="glyphicon glyphicon-menu-hamburger"></span></div>
        <div class="subNavBox">
            <div class="sBox">
                <ul class="navContent" style="display:block">
                    <li>
                        <div class="showtitle" style="width:100px;">首页</div>
                        <a href="/weixin/agent"><span class="sublist-icon glyphicon glyphicon-home"></span><span class="sub-title">首页</span></a></li>
                    <li>
                        <div class="showtitle" style="width:100px;">出售</div>
                        <a href="/weixin/agent/sales"><span class="sublist-icon glyphicon glyphicon-tag"></span><span class="sub-title">出售</span></a></li>
                    <li class="active">
                        <div class="showtitle" style="width:100px;">充值</div>
                        <a href="/weixin/agent/recharge"><span class="sublist-icon glyphicon glyphicon-shopping-cart"></span><span class="sub-title">充值</span></a></li>
                    <li>
                        <div class="showtitle" style="width:100px;">充值记录</div>
                        <a href="/weixin/agent/recharge_log"><span class="sublist-icon glyphicon glyphicon-time"></span><span class="sub-title">充值记录</span></a></li>
                    <li>
                        <div class="showtitle" style="width:100px;">出售记录</div>
                        <a href="/weixin/agent/sales_log"><span class="sublist-icon glyphicon glyphicon-star-empty"></span><span class="sub-title">出售记录</span></a></li>
                    <!--<li id="addMember">-->
                    <!--<div class="showtitle" style="width:100px;">添加会员</div>-->
                    <!--<a href="addmember.html"><span class="sublist-icon glyphicon glyphicon-plus"></span><span class="sub-title">添加会员</span></a></li>-->
                    <!--<li>-->
                    <!--<div class="showtitle" style="width:100px;">我的会员</div>-->
                    <!--<a href="recommand.html"><span class="sublist-icon glyphicon glyphicon-user"></span><span class="sub-title">我的会员</span></a></li>-->
                    <!--<li>-->
                    <!--<div class="showtitle" style="width:100px;">会员中心</div>-->
                    <!--<a href="set.html"><span class="sublist-icon glyphicon glyphicon-cog"></span><span class="sub-title">会员中心</span></a></li>-->
                </ul>
            </div>
        </div>
    </div>
    <!--右侧主体部分-->
    <div class="right-product my-index right-off">
        <div class="container-fluid">
            <div class="info-center">
                <div class="page-header">
                    <div class="pull-left">
                        <h4>充值<small id="gameName">四川麻将会员代理后台</small></h4>
                    </div>
                </div>
                <div class="indentify-class padding-lr">
                    <ul class="class-content">
                        {{range $k,$v := .goods_list}}
                        <li class="pull-left margin-large-20">
                            <ul class="class-detail-has margin-top text-lh-big class-detail-top class-detail pull-right">
                                <li><span class="text-black-gray">充值:</span><span class="pull-right text-gray-white">{{$v.Num}} {{$v.Type}}</span></li>
                                <li><span class="text-black-gray">赠送:</span><span class="pull-right text-gray-white">{{$v.GiveNum}} {{$v.Type}}</span></li>
                                <li><span class="text-black-gray">价格:</span><span class="pull-right text-gray-white">{{$v.Price}} 元</span></li>
                                <a class="continue text-big" data="3">充值</a>
                            </ul>
                        </li>
                        {{end}}
                        <!--<li class="pull-left margin-large-20">-->
                            <!--<ul class="class-detail-has margin-top text-lh-big class-detail-top class-detail pull-right">-->
                                <!--<li><span class="text-black-gray">充值:</span><span class="pull-right text-gray-white">500钻石</span></li>-->
                                <!--<li><span class="text-black-gray">赠送:</span><span class="pull-right text-gray-white">1500钻石</span></li>-->
                                <!--<li><span class="text-black-gray">价格:</span><span class="pull-right text-gray-white">300元</span></li>-->
                                <!--<a class="continue text-big" data="3">充值</a>-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!--<li class="pull-left margin-large-20">-->
                            <!--<ul class="class-detail-has margin-top text-lh-big class-detail-top class-detail pull-right">-->
                                <!--<li><span class="text-black-gray">充值:</span><span class="pull-right text-gray-white">900钻石</span></li>-->
                                <!--<li><span class="text-black-gray">赠送:</span><span class="pull-right text-gray-white">2700钻石</span></li>-->
                                <!--<li><span class="text-black-gray">价格:</span><span class="pull-right text-gray-white">500元</span></li>-->
                                <!--<a class="continue text-big" data="4">充值</a>-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!--<li class="pull-left margin-large-20">-->
                            <!--<ul class="class-detail-has margin-top text-lh-big class-detail-top class-detail pull-right">-->
                                <!--<li><span class="text-black-gray">充值:</span><span class="pull-right text-gray-white">1900钻石</span></li>-->
                                <!--<li><span class="text-black-gray">赠送:</span><span class="pull-right text-gray-white">5700钻石</span></li>-->
                                <!--<li><span class="text-black-gray">价格:</span><span class="pull-right text-gray-white">1000元</span></li>-->
                                <!--<a class="continue text-big" data="5">充值</a>-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!--<li class="pull-left margin-large-20">-->
                            <!--<ul class="class-detail-has margin-top text-lh-big class-detail-top class-detail pull-right">-->
                                <!--<li><span class="text-black-gray">充值:</span><span class="pull-right text-gray-white">4000钻石</span></li>-->
                                <!--<li><span class="text-black-gray">赠送:</span><span class="pull-right text-gray-white">8000钻石</span></li>-->
                                <!--<li><span class="text-black-gray">价格:</span><span class="pull-right text-gray-white">2000元</span></li>-->
                                <!--<a class="continue text-big" data="6">充值</a>-->
                            <!--</ul>-->
                        <!--</li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/weixin/js/slide_menu.js"></script>
<script src="/static/weixin/js/share.js"></script>
<script type="text/javascript">

</script>


{{ template "weixin_footer" }}
