{{ template "weixin_header" }}
<div class="alert alert-info alert-dismissable" role="alert">
    <button class="close" type="button" onclick="$('.alert').eq(0).hide();">&times;</button>
    <span></span>
</div>
<!--顶部 导航栏部分-->
<nav class="nav navbar-default navbar-mystyle navbar-fixed-top">
    <div class="navbar-header">
        <span><a href="/weixin/" style="font-family: 微软雅黑;font-size: 2rem;line-height: 50px;margin-left: 2rem;font-weight: bold;color: darkgrey">动点游戏</a></span>
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!--<a class="navbar-brand mystyle-brand" href="#"><span class="glyphicon glyphicon-home"></span></a>-->
    </div>
    <div class="collapse navbar-collapse" style="background-color: #394555;">
        <ul class="nav navbar-nav pull-right">
            <!--<li class="dropdown li-border" id="oSpan"><a href="#" class="dropdown-toggle mystyle-color" data-toggle="dropdown">选择游戏后台<span class="caret"></span></a>-->
            <!--<ul class="dropdown-menu" id="choseGame">-->
            <!--</ul>-->
            <!--</li>-->
            <li class="dropdown li-border"><a href="#" class="dropdown-toggle mystyle-color" data-toggle="dropdown"><span id="userNick">{{.wx_user.Nickname}}</span><span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#" id="logout">退出</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<!--左侧菜单栏部分-->
<div class="down-main">
    <div class="left-main left-off">
        <div class="sidebar-fold"><span class="glyphicon glyphicon-menu-hamburger"></span></div>
        <div class="subNavBox">
            <div class="sBox">
                <ul class="navContent" style="display:block">
                    <li>
                        <div class="showtitle" style="width:100px;">首页</div>
                        <a href="/weixin/agent"><span class="sublist-icon glyphicon glyphicon-home"></span><span class="sub-title">首页</span></a></li>
                    <li>
                        <div class="showtitle" style="width:100px;">出售</div>
                        <a href="/weixin/agent/sales"><span class="sublist-icon glyphicon glyphicon-tag"></span><span class="sub-title">出售</span></a></li>
                    <li>
                        <div class="showtitle" style="width:100px;">充值</div>
                        <a href="/weixin/agent/recharge"><span class="sublist-icon glyphicon glyphicon-shopping-cart"></span><span class="sub-title">充值</span></a></li>
                    <li>
                        <div class="showtitle" style="width:100px;">充值记录</div>
                        <a href="/weixin/agent/recharge/log"><span class="sublist-icon glyphicon glyphicon-time"></span><span class="sub-title">充值记录</span></a></li>
                    <li class="active">
                        <div class="showtitle" style="width:100px;">出售记录</div>
                        <a href="/weixin/agent/sales/log"><span class="sublist-icon glyphicon glyphicon-star-empty"></span><span class="sub-title">出售记录</span></a></li>
                    <!--<li id="addMember">-->
                    <!--<div class="showtitle" style="width:100px;">添加会员</div>-->
                    <!--<a href="addmember.html"><span class="sublist-icon glyphicon glyphicon-plus"></span><span class="sub-title">添加会员</span></a></li>-->
                    <!--<li>-->
                    <!--<div class="showtitle" style="width:100px;">我的会员</div>-->
                    <!--<a href="recommand.html"><span class="sublist-icon glyphicon glyphicon-user"></span><span class="sub-title">我的会员</span></a></li>-->
                    <!--<li>-->
                    <!--<div class="showtitle" style="width:100px;">会员中心</div>-->
                    <!--<a href="set.html"><span class="sublist-icon glyphicon glyphicon-cog"></span><span class="sub-title">会员中心</span></a></li>-->
                </ul>
            </div>
        </div>
    </div>
    <!--右侧主体部分-->
    <div class="right-product my-index right-off">
        <div class="container-fluid">
            <div class="info-center">
                <div class="page-header">
                    <div class="pull-left">
                        <h4>出售记录<small id="gameName">四川麻将会员代理后台</small></h4>
                    </div>
                </div>
            </div>
            <form id="form_list" action="" method="get">
                <input type="hidden" name="page" value="{{.Logs.page.page}}">
                <div class="layui-form-pane" style="margin-top: 15px;">
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width: 110px">选择日期</label>
                        <div class="layui-input-inline">
                            <input class="layui-input" name="start" value="{{.start_time}}" placeholder="开始日" id="LAY_demorange_s">
                        </div>
                        <div class="layui-input-inline">
                            <input class="layui-input" name="end" value="{{.end_time}}" placeholder="截止日" id="LAY_demorange_e">
                        </div>
                        <div class="layui-input-inline">
                            <input id="form_list_btn" class="layui-btn" type="submit" value="确定">
                        </div>
                    </div>
                </div>
            </form>

            <table class="layui-table">
                <thead>
                <tr>
                    <th>编号</th>
                    <th>用户</th>
                    <th>道具</th>
                    <th>数量</th>
                    <th>金额</th>
                    <th>备注</th>
                    <th>时间</th>
                </tr>
                </thead>
                <tbody>
                {{range $k,$v := .Logs.list}}
                <tr id="user-<{ item.id }>">
                    <td>{{$v.Id.Hex}}</td>
                    <td>{{$v.UserId}}</td>
                    <td>{{$v.Type}}</td>
                    <td>{{$v.Num}}</td>
                    <td>{{$v.Money}}</td>
                    <td>{{$v.Remark}}</td>
                    <td>{{$v.AddTime.Format "2006-01-02 15:04:05"}}</td>
                </tr>
                {{end}}
                </tbody>
            </table>
            <div style="height: 35px;width: 750px;">
                <div id="view_page"></div>
            </div>
        </div>
    </div>
</div>
<script src="/static/weixin/js/slide_menu.js"></script>
<script src="/static/weixin/js/share.js"></script>
<script type="text/javascript">
    $("#form_list_btn").on("click", function (e) {
        e.preventDefault();
        var page = $("#form_list").find("[name=page]");
        page.val(1);
        $("#form_list").submit();
    });
layui.use(["laypage","laydate"], function () {
    layui.laypage({
        cont: 'view_page',
        pages: {{.Logs.page.page_count}}, //总页数
        curr: {{.Logs.page.page}},
        skip:true, //连续显示分页数
        jump: function (obj) {
            var page = $("#form_list").find("[name=page]");
            if(page.val() != obj.curr) {
                page.val(obj.curr);
                $("#form_list").submit();
            }
        }
    });

    var laydate = layui.laydate;

    var start = {
//        min: laydate.now(),
//        max: '2099-06-16 23:59:59',
        min: '2017-01-01 00:00:00',
        max: laydate.now(),
        istoday: false
        ,choose: function(datas){
            end.min = datas; //开始日选好后，重置结束日的最小日期
            end.start = datas; //将结束日的初始值设定为开始日
        }
    };

    var end = {
//        min: laydate.now()
//        ,max: '2099-06-16 23:59:59'
        min: '2017-01-01 00:00:00',
        max: laydate.now()
        ,istoday: false
        ,choose: function(datas){
            start.max = datas; //结束日选好后，重置开始日的最大日期
        }
    };
    document.getElementById('LAY_demorange_s').onclick = function(){
        start.elem = this;
        laydate(start);
    };
    document.getElementById('LAY_demorange_e').onclick = function(){
        end.elem = this;
        laydate(end);
    }
});

</script>


{{ template "weixin_footer" }}
