{{ template "weixin_header" }}
<div class="alert alert-info alert-dismissable" role="alert">
    <button class="close" type="button" onclick="$('.alert').eq(0).hide();">&times;</button>
    <span></span>
</div>
<!--顶部 导航栏部分-->
<nav class="nav navbar-default navbar-mystyle navbar-fixed-top">
    <div class="navbar-header">
        <a id="back-btn" href="/weixin/agent">
            <span id="back-text">返回</span>
        </a>
            <span><a id="logo-text" href="/weixin/agent">动点游戏</a></span>           
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!--<a class="navbar-brand mystyle-brand" href="#"><span class="glyphicon glyphicon-home"></span></a>-->
    </div>
    <div class="collapse navbar-collapse" style="background-color: #394555;">
        <ul class="nav navbar-nav pull-right">
            <li class="dropdown li-border"><a href="#" class="dropdown-toggle mystyle-color" data-toggle="dropdown"><span id="userNick">{{.wx_user.Nickname}}</span><span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#" id="logout">退出</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
    <!--右侧主体部分-->
    <div class="my-index right-off">
        <div class="">
            <div class="info-center">
                <div class="page-header">
                    <div class="pull-left">
                        <h4>出售<small id="gameName">四川麻将会员代理后台</small></h4>
                    </div>
                </div>
                <dl class="account-basic clearfix">
                    <dt class="pull-left searchMem">
                    <form action="" method="get">
                        <div class="input-group">
                        <input type="text" name="uid" class="form-control" id="uid" value="{{if ne .Uid 0}}{{.Uid}}{{end}}">
                        <span class="input-group-btn">
                                   <button type="submit" class="btn btn-default searchbtn"><span class="glyphicon glyphicon-search"></span>搜索</button>
                            </span>
                        </div>
                    </form>
                    </dt>
                    <dd class="pull-left margin-large-left margin-small-top">
                        <p class="text-small">
                            1.输入玩家用户ID
                        </p>
                        <p class="text-small">
                            2.搜索玩家
                        </p>
                        <p class="text-small">
                            3.添加房卡
                        </p>
                        <!--<img src="" alt="用户头像" class="userImgPor"/>-->
                    </dd>
                </dl>
                {{with .User}}
                {{if gt .GetId 0}}
                <div class="saleaccountBox" style="display: block">
                    <div class="userImgPorBox">
                        <img src="{{.HeadUrl}}" alt="用户头像" class="userImgPor">
                    </div>
                    <ul class="saleaccount">
                        <li class="clearfix">
                            <span>昵称：</span>
                            <span class="userName">{{.NickName}}</span>
                        </li>
                        <li>
                            <span>Id：</span>
                            <span class="userID">{{.Id}}</span>
                        </li>
                        <li>
                            <span>房卡：</span>
                            <span class="userDia">{{.RoomCard}}张</span>
                        </li>
                        <li>
                            <a href="" class="addDia btn btn-primary" role="button" id="addDiaBtn" onclick="$('#addDia').show();return false">添加房卡</a>
                        </li>
                    </ul>
                </div>

                <form id="form_add" action="/weixin/agent/sales" method="post">
                    <div id="addDia" class="modalBox">
                        <div class="modalHeader">
                            <button type="button" class="closeModal closeFunc" onclick="$('#addDia').hide()">×</button>
                            <h4 class="modalTitle">售卖房卡</h4>
                        </div>
                        <div class="modalBody">
                            <div class="opt pull-left col-md-3 col-md-offset-3 col-xs-5 col-xs-offset-1">
                                <!--<input class="magic-radio" type="radio" name="radio" id="r1" value="1" checked="">-->
                                <!--<label for="r1">售卖</label>-->
                            </div>
                            <div class="opt pull-left col-md-3 col-md-offset-3 col-xs-5 col-xs-offset-1">
                                <!--<input class="magic-radio" type="radio" name="radio" id="r2" value="0">-->
                                <!--<label for="r2">赠送</label>-->
                            </div>
                            <input type="hidden" name="uid" value="{{.Id}}">
                            <p class="row"><span class="pull-left col-md-3 col-md-offset-3 col-xs-3">数量:</span><input class="col-md-5 col-xs-6 pull-left" name="num" type="text" id="buyNum" required=""><span class="col-xs-3 col-md-1"></span></p>
                            <p class="row"><span class="pull-left col-md-3 col-md-offset-3 col-xs-3">金额:</span><input class="col-md-5 col-xs-6 pull-left" name="money" type="text" id="buyMoney" value="0" required=""><span class="col-xs-3 col-md-1"></span></p>
                            <p class="row"><span class="pull-left col-md-3 col-md-offset-3 col-xs-3">备注:</span><input class="col-md-5 col-xs-6 pull-left" name="remark" type="text" id="buyNote"><span class="col-xs-3 col-md-1"></span></p>
                        </div>
                        <div class="modalFooter">
                            <button type="button" data-dismiss="modal" class="btn btn-default cancelbutton closeFunc" onclick="$('#addDia').hide()">取消</button>
                            <button type="submit" class="btn btn-primary" id="submit">确定</button>
                        </div>
                    </div>
                </form>
                {{end}}
                {{end}}
            </div>
        </div>
    </div>
</div>
<script src="/static/weixin/js/slide_menu.js"></script>
<script src="/static/weixin/js/share.js"></script>
<script src="/static/admin/static/js/manage.js"></script>
<script type="text/javascript">
    $("title").html("代理系统-销售");
    common.bindAjax("submit", "#form_add", function (e) {
        e.preventDefault();
        return true
    },function (data, res) {
        common.msg("消息：", res.msg);
    })
</script>


{{ template "weixin_footer" }}
