{{template "manage_header" }}

<div class="layui-tab" style="overflow: visible" lay-filter="apply_tab">
    <ul class="layui-tab-title">
        <li data-invited="0" {{if eq .invited 0}}class="layui-this"{{end}}>一级代理</li>
        <li data-invited="1" {{if eq .invited 1}}class="layui-this"{{end}}>二级代理</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <form id="form_list" action="" method="get">
                <input type="hidden" name="page" value="{{.page.page}}">
                <input type="hidden" name="status" value="{{.status}}">
                <input type="hidden" name="invited" value="{{.invited}}">
                <div class="layui-form-pane" style="margin-top: 15px;">
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width: 110px">选择日期</label>
                        <div class="layui-input-inline">
                            <input class="layui-input" name="start" value="{{.start_time}}" placeholder="开始日" id="LAY_demorange_s">
                        </div>
                        <div class="layui-input-inline">
                            <input class="layui-input" name="end" value="{{.end_time}}" placeholder="截止日" id="LAY_demorange_e">
                        </div>
                        <div class="layui-input-inline">
                            <input id="form_list_btn" class="layui-btn" type="submit" value="确定">
                        </div>
                    </div>
                </div>
            </form>

            <table class="layui-table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>游戏id</th>
                    <th>推荐id</th>
                    <th>姓名</th>
                    <th>电话</th>
                    <th>状态</th>
                    <th>请求时间</th>
                    {{if ne .status 1}}
                    <th>处理时间</th>
                    {{end}}
                    {{if eq .status 1}}
                    <th>操作</th>
                    {{end}}
                </tr>
                </thead>
                <tbody>
                {{range $k,$v := .list}}
                <tr>
                    <td>{{$v.Id.Hex}}</td>
                    <td>{{$v.UserId}}</td>
                    <td>{{$v.InvitedId}}</td>
                    <td>{{$v.Name}}</td>
                    <td>{{$v.Phone}}</td>
                    <td>{{$v.Status.Name}}</td>
                    <td>{{$v.RequestTime.Format "2006-01-02 15:04:05"}}</td>
                    {{if ne $v.Status 1}}
                    <td>{{$v.ProcessTime.Format "2006-01-02 15:04:05"}}</td>
                    {{end}}
                    {{if eq $v.Status 1}}
                    <td>
                        <form class="layui-form" action="">
                            <div class="layui-form-item">
                                <div class="layui-input-inline">
                                    <select class="select_status" lay-filter="status" data-id="{{$v.Id.Hex}}" name="types">
                                        <option value="">操作</option>
                                        {{if eq $.invited 0}}
                                        <option value="1">设为总代理</option>
                                        <option value="2">设为普通代理</option>
                                        {{else}}
                                        <option value="3">通过</option>
                                        {{end}}
                                        <option value="4">拒绝</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </td>
                    {{end}}
                </tr>
                {{end}}
                </tbody>
            </table>
            <div style="height: 35px;width: 750px;">
                <div id="view_page"></div>
            </div>
        </div>
    </div>
</div>

<script>
    layui.use(['form','laypage','laydate','element'], function(){
        var form = layui.form();
        form.on('select(status)', function (data) {
            var val = data.value;
            var elem = data.elem;
            var id = $(elem).data("id");
            if(window.confirm("确定执行该操作吗？")){
                $.ajax({
                    url:"/admin/manage/apply/switch",
                    type:"get",
                    data:{"id": id, "types": val},
                    success: function (res) {
                        if(window.confirm(res.msg)){
                            window.location.reload();
                        }
                    }
                });
            }
//            alert(val);
//            alert(id);
        });
        $("#form_list_btn").on("click", function (e) {
            e.preventDefault();
            var page = $("#form_list").find("[name=page]");
            page.val(1);
            $("#form_list").submit();
        });
        //选项卡
        layui.element().on("tab(apply_tab)", function(ele){
            var page = $("#form_list").find("[name=page]");
            page.val(1);
            var invited_input = $("#form_list").find("[name=invited]");
            var invited = this.getAttribute("data-invited");
            invited_input.val(invited);

            $("#form_list").submit();
        });


        layui.laypage({
            cont: 'view_page',
            pages: {{.page.page_count}}, //总页数
        curr: {{.page.page}},
        skip:true, //连续显示分页数
            jump: function (obj) {
            var page = $("#form_list").find("[name=page]");
            if(page.val() != obj.curr) {
                page.val(obj.curr);
                $("#form_list").submit();
            }
        }
    });

        var laydate = layui.laydate;

        var start = {
//        min: laydate.now(),
//        max: '2099-06-16 23:59:59',
            min: '2017-01-01 00:00:00',
            max: laydate.now(),
            istoday: false
            ,choose: function(datas){
                end.min = datas; //开始日选好后，重置结束日的最小日期
                end.start = datas; //将结束日的初始值设定为开始日
            }
        };

        var end = {
//        min: laydate.now()
//        ,max: '2099-06-16 23:59:59'
            min: '2017-01-01 00:00:00',
            max: laydate.now()
            ,istoday: false
            ,choose: function(datas){
                start.max = datas; //结束日选好后，重置开始日的最大日期
            }
        };
        document.getElementById('LAY_demorange_s').onclick = function(){
            start.elem = this;
            laydate(start);
        };
        document.getElementById('LAY_demorange_e').onclick = function(){
            end.elem = this;
            laydate(end);
        }

    });
</script>

{{template "manage_footer" }}