
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>牛牛</title>
    <link rel="stylesheet" type="text/css" href="/static/home/css/aui.css" />
    <link rel="stylesheet" type="text/css" href="/static/home/css/member.css" />

    <link rel="stylesheet" type="text/css" href="/static/home/css/layer.css" />

    <style type="text/css">
        .gonggao{
            width: 100%;
            height: 45px;
            top: 6.5rem;
            position: absolute;
            background-color:rgba(0,0,0,0.5);
        }
        .gonggao>marquee{
            color: #fff;
            font-size: 18px;
            line-height: 45px;
        }
        .kf{

            height: 20px;
            top: 6.5rem;
            position: absolute;

            color: #fff;
            font-size: 18px;
            line-height: 45px;
        }
    </style>

</head>
<body>
<div class="gonggao" style="z-index: 999999">
    <marquee behavior="scroll" contenteditable="true" onstart="this.firstChild.innerHTML+=this.firstChild.innerHTML;" scrollamount="3" width="100%" onmouseover="this.stop();" onmouseout="this.start();">
        尊敬的玩家您好： 请关注我们的公众号：硕风国际！  以便了解最新的游戏状况及活动；惊喜不断！
    </marquee>
</div>
<img src="/static/home/image/big-bg.png" style="width: 100%;height: 100%;position: fixed;z-index: -5;">


<div class="aui-content" style="top:0px; position: fixed;width: 100%;z-index: 999">
    <div class="header" style="background-size: 100% 100%;">
        <div class="facico"><img id="headimgurl" src="" onerror="this.src='/static/home/image/noface.png'" /></div>
        <div class="user">
            <p class="user-name" id="nickname">加载中</p>
            <p class="user-id">( ID:<span id="userid">加载中</span> )</p>
        </div>
        <div class="gold-sum">
            <p class="gold">金币<span style="font-size: 0.6rem" id="money">加载中</span></p>
            {{/*<a class= "gold" href="http://t.ibangkf.com/i/chat-a2954573.html?l=a2954573"><span style="font-size: 0.8	rem; margin-top:20px;margin-right:5px;">→在线客服-*/}}
{{/*</span></a>*/}}
        </div>



    </div>
</div>


<div class="aui-content"  style="margin-top: 3.4rem;">
    <div class="header-bottom1">
        <img src="/static/home/image/beijing.png">
        <img src="/static/home/image/niuniu1.png" alt="">
    </div>
</div>


<!--开包开始-->
<div id="kaihongbao" class="mask" style="display: none;">
    <div class="hb">
        <img onclick="closes()" src="/static/home/image/gb.png" alt="" class="guan">
        <img id="fbr_img" src="" onerror="this.src='/static/home/image/noface.png'" class="hb-tx">
        <p id="fbr_nickname"></p>
        <div class="khb-icon" id="alltx">
        </div>
        <div class="khb-progress">
            <span>人数</span>
            <div class="khb-progressb">
                <div class="khb-progressw"></div>
                <div class="khb-progressr jindu_yy"></div>
            </div>

            <span><span id="has_member">0</span>/<span id="all_membey">0</span></span>
        </div>
        <div class="time"><img src="/static/home/image/time-icon.png" alt=""><span id="sj">03:00</span></div>

        <img onclick="kai()" src="/static/home/image/kai.png" alt="" class="kai">
        <p class="jbb"><span id="jinbizs"></span>金币</p>
        <input name="redId" id="redIdaa" type="hidden" value="0"  />
        <input name="redId" id="isok" type="hidden" value="0"  />
    </div>
</div>
<!--开包结束-->
<div class="aui-card-list-content" style="padding-bottom: 5.5rem;">
    <ul class="aui-list aui-media-list" id="item">
    </ul>
</div>
<input name="fanhuiredId" id="fanhuiredId" type="hidden" value=""  />


<div class="foot-top">
    <div><a href="/home/niuniu/add"><img src="/static/home/image/button-fhb.png" alt=""></a></div>
    <div><img onclick="openDialog()"  src="/static/home/image/button-youxi.png" alt=""></div>
</div>


<footer class="aui-bar aui-bar-tab" id="footer" style="background-color: #fff;">
    <div class="aui-bar-tab-item aui-active" tapmode>
        <a href="/home">
            <i class="aui-iconfont aui-img-21"><img src="/static/home/image/qhh-icon.png" /></i>
            <div class="aui-bar-tab-label aui-text-huangs">抢包</div>
        </a>
    </div>
    <div class="aui-bar-tab-item" tapmode>
        <a href="/home/member/recharge">
            <i class="aui-iconfont aui-img-21"><img src="/static/home/image/cz-icon.png" /></i>
            <div class="aui-bar-tab-label aui-text-huangs">充值</div>
        </a>
    </div>
    <div class="aui-bar-tab-item" tapmode>
        <a href="/home/member/outred">
            <i class="aui-iconfont aui-img-21"><img src="/static/home/image/fhb-icon.png" /></i>
            <div class="aui-bar-tab-label aui-text-huangs">金币兑换</div>
        </a>
    </div>
    <div class="aui-bar-tab-item" tapmode>
        <a href="/home/member/record">
            <i class="aui-iconfont aui-img-21"><img src="/static/home/image/yxjl-icon.png" /></i>
            <div class="aui-bar-tab-label aui-text-huangs">游戏记录</div>
        </a>
    </div>
    <div class="aui-bar-tab-item" tapmode>
        <a href="/home/member/agent">
            <i class="aui-iconfont aui-img-21"><img src="/static/home/image/dlzx-icon.png" /></i>
            <div class="aui-bar-tab-label aui-text-huangs">代理中心</div>
        </a>
    </div>
</footer>

<script type="text/javascript" src="/static/home/script/jquery-3.2.1.min.js" ></script>

<script type="text/javascript" src="/static/home/script/layer.js" ></script>
<script type="text/javascript">
    function openDialog() {
        layer.open({
            className: 'dialog_hb', //这样你就可以在css里面控制该弹层的风格了
            content: '1、玩家可加入或者创建金额在5-500金的红包，满5人后开。<br>2、每次庄家固定发出1元红包，以红包小数点后面两位数相加看牛<br>如0.15 1+5=6 是牛6【2倍】<br>如0.36 3+6=9 是牛9【4倍】<br>如0.37 3+7=0,0.91 1+9=0等<br>0.91比0.82大，牛牛的金额大的吃金额小的！<br>假如闲家和庄家牛的点数相同，谁拿包金额大谁赢，若闲家和庄家同等金额的算打和，牛6赔率2倍 牛7牛8赔率3倍 牛9赔率4倍 牛牛赔率5倍，其他一赔一。<br>3、玩家进入10金币的房间，每位玩家进入需要50金币，创建10金币的房间需要200金币。<br>4、游戏结束之后，系统将收取玩家获取金币的3%做为门票。'
            ,btn: '我知道了'
        });
    }
    var miao=60;
    var Fen=3;
    var stop_djs='0';
    function closes() {
        $("#kaihongbao").hide();
    }
    if($("#fanhuiredId").val()){
        add($("#fanhuiredId").val());
    }
    function add(redId) {
        $("#redIdaa").val(redId);
        miao=60;
        Fen=3;
        stop_djs='0';
        huoqu_kai(redId);
        setInterval("rentou("+redId+")", 2000);
    }
    function add(redId) {
        $("#redIdaa").val(redId);
        miao=60;
        Fen=3;
        stop_djs='0';
        huoqu_kai(redId);
        setInterval("rentou("+redId+")", 2000);
    }
    function shuju(){
        $.get("/home/index/getRedPacketList?type=2",function(data,status){
            if(status=='success'){
                var dataObj=eval("("+data+")");//转换为json对象
                var code=dataObj.code;
                if(code=='1'){
                    $("#item").html('');
                    $.each(dataObj.request,function(i,item){
                        $("#item").append('<li onclick="add('+item.id+')" class="aui-list-item aui-list-item-middle">' +
                                '<div class="aui-media-list-item-inner">' +
                                '<div class="aui-list-item-media" style="width: 3rem;">' +
                                '<img src="'+item.headimgurl+'" class="aui-img-round" onerror="this.src=\'/static/home/image/noface.png\'">' +
                                '</div>' +
                                '<div class="aui-list-item-inner aui-list-item-arrow">' +
                                '<div class="aui-list-item-text">' +
                                '<div class="aui-list-item-title aui-font-size-14">'+item.nickname+'</div>' +
                                '<div class="aui-list-item-right">牛牛</div>' +
                                '</div>' +
                                '<div class="aui-list-item-text">' +
                                '<div class="aui-list-item-title aui-font-size-14">金币:' +item.money+'</div>' +
                                '<div class="aui-list-item-right">'+item.has_member+'/'+item.all_membey+'</div>' +
                                '</div></div></div></li>');
                    });
                }
            }
        })
    }
    shuju();
    setInterval("shuju()", 2000);
    function huoqu_kai(redId) {
        $.get("/home/niuniu/join_red_packet?redId="+redId,function(data,status){
            if(status=='success'){
                var dataObj=eval("("+data+")");//转换为json对象
                var code=dataObj.code;
                if(code=='0'){
                    stop=1;
                    layer.open({
                        content: dataObj.request.msg
                        ,btn: '我知道了'
                    });
                }else{
                    $("#fbr_img").attr('src',dataObj.request.redInfo.headimgurl);
                    $("#fbr_nickname").html(decodeURI(dataObj.request.redInfo.nickname));
                    $("#jinbizs").html(dataObj.request.redInfo.money);
                    var all_membey=dataObj.request.redInfo.all_membey;
                    var has_member=dataObj.request.redInfo.has_member;
                    $("#all_membey").html(all_membey);
                    $("#has_member").html(has_member);
                    if(all_membey==has_member){
                        stop='1';
                        stop_djs='1';
                        $("#isok").val('999');
                    }
                    var jingdu=has_member/all_membey*100;
                    $(".jindu_yy").css({"width":jingdu+"%"});
                    $("#alltx").html('');
                    $.each(dataObj.request.redItemList,function(i,item){
                        $("#alltx").append('<img src="'+item.headimgurl+'" onerror="this.src=/static/home/image/noface.png">');
                    });
                    setInterval("djs()",1000);
                    $("#kaihongbao").show();
                }
            }
        })
    }
    function djs(redId){
        if(stop_djs=='1'){$(".time").innerHTML='';return;}
        if(Fen==2&&miao==55){$.get("/home/Timer/addRobotToGame",function(data,status){});}
        if(Fen==2&&miao==52){$.get("/home/Timer/addRobotToGame",function(data,status){});}
        if(Fen==2&&miao==46){$.get("/home/Timer/addRobotToGame",function(data,status){});}
        if(Fen==2&&miao==40){$.get("/home/Timer/addRobotToGame",function(data,status){});}
        if(Fen==0&&miao==1)//分钟数=0的时候
        {
            $(location).attr('href', 'kai_ok?redId='+redId);
        }
        if(Fen>=0&&Fen<=10)//分钟数0~10
        {
            miao--;
            if(miao==0)//秒数等于0的时候
            {
                miao=60;
                $("#sj").get(0).innerHTML="0"+Fen+":"+"00";
            }
            if(miao>0&&miao<10)//秒数0~10的时候
            {
                miao="0"+miao;
                $("#sj").get(0).innerHTML="0"+Fen+":"+miao;
            }
            if(miao>=10&&miao!=60)//秒数大于等于10的时候
            {
                if(miao==59)
                {
                    Fen--
                }
                $("#sj").get(0).innerHTML="0"+Fen+":"+miao;
            }
        }
        if(Fen>10)//分钟数大于10的时候
        {
            miao--;
            if(miao==0)//秒数等于0的时候
            {
                miao=60;
                $("#sj").get(0).innerHTML=Fen+":"+"00";
            }
            if(miao>0&&miao<10)//秒数0~10的时候
            {
                miao="0"+miao;
                $("#sj").get(0).innerHTML=Fen+":"+miao;
            }
            if(miao>=10&&miao!=60)//秒数大于等于10的时候
            {
                if(miao==59)
                {
                    Fen--
                }
                $("#sj").get(0).innerHTML=Fen+":"+miao;
            }
        }
    }
    function rentou(redId) {
        if(stop=='1'){return;}
        $.get("/home/index/join_red_packet?redId="+redId,function(data,status){
            if(status=='success'){
                var dataObj=eval("("+data+")");//转换为json对象
                var code=dataObj.code;
                if(code=='0'){
                    stop=1;
                    layer.open({
                        content: dataObj.request.msg
                        ,btn: '我知道了'
                    });
                }else{
                    $("#alltx").html('');
                    var all_membey=dataObj.request.redInfo.all_membey;
                    var has_member=dataObj.request.redInfo.has_member;
                    $("#all_membey").html(all_membey);
                    $("#has_member").html(has_member);
                    if(all_membey==has_member){
                        stop='1';
                        stop_djs='1';
                        $("#isok").val('999');
                    }
                    var jingdu=has_member/all_membey*100;
                    $(".jindu_yy").css({"width":jingdu+"%"});
                    $.each(dataObj.request.redItemList,function(i,item){
                        $("#alltx").append('<img src="'+item.headimgurl+'" onerror="this.src=/static/home/image/noface.png">');
                    });
                }
            }
        })
    }
    function kai() {
        var val = $("#isok").val();
        var redIdaa = $("#redIdaa").val();
        if(val!=999){
            layer.open({
                content: '人数不够，暂时不能打开此红包'
                ,btn: '我知道了'
            });
        }else{
            $(location).attr('href', '/home/niuniu/kai_ok?redId='+redIdaa);
        }
    }
</script>


<script type="text/javascript">
    $(document).ready(function(){
        $.get("/home/login/getMemberInfo",function(data,status){
            if(status=='success'){
                var dataObj=eval("("+data+")");//转换为json对象
                var code=dataObj.code;
                if(code=='1'){
                    // if(dataObj.request.username==''){
                    //     $(location).attr('href', '/home/login/usernameset');
                    // }
                    $("#money").html(dataObj.request.golds);
                    $("#headimgurl").attr('src',dataObj.request.headimgurl);
                    $("#nickname").html(dataObj.request.username);
                    $("#userid").html(dataObj.request.id);
                    $("#zxrs").html(dataObj.request.numberOnline);
                }
            }
        });
    });
</script>

<script type="text/javascript">
    /**
     * 时间戳转换日期
     * @param <int> unixTime  待时间戳(秒)
     * @param <bool> isFull  返回完整时间(Y-m-d 或者 Y-m-d H:i:s)
     */
    function formatDate(unixTime, type) {
        var time = new Date(unixTime * 1000);
        var year=time.getUTCFullYear();
        var month=time.getUTCMonth()+1;
        var date=time.getUTCDate();
        var hour=getzf(time.getHours());
        var minute=getzf(time.getMinutes());
        var second=getzf(time.getUTCSeconds());
        switch(type){
            case 1:
                return hour+":"+minute+":"+second;
            case 2:
                return month+"-"+date+" "+hour+":"+minute;
            default:
                return year+"-"+month+"-"+date+" "+hour+":"+minute+":"+second;
        }
    }
    //补0操作
    function getzf(num){
        if(parseInt(num) < 10){
            num = '0'+num;
        }
        return num;
    }
</script>
</body>
</html>
