<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>游戏记录</title>
    <link rel="stylesheet" type="text/css" href="/static/home/css/aui.css" />
    <link rel="stylesheet" type="text/css" href="/static/home/css/member.css" />

    <link rel="stylesheet" type="text/css" href="/static/home/css/layer.css" />
    <link rel="stylesheet" type="text/css" href="/static/home/css/hbxq.css" />

    <style type="text/css">
        .gonggao{
            width: 100%;
            height: 45px;
            top: 6.5rem;
            position: absolute;
            background-color:rgba(0,0,0,0.5);
        }
        .gonggao>marquee{
            color: #fff;
            font-size: 18px;
            line-height: 45px;
        }
        .kf{

            height: 20px;
            top: 6.5rem;
            position: absolute;

            color: #fff;
            font-size: 18px;
            line-height: 45px;
        }
        .header div:nth-of-type(4){
            float: right;
        }
    </style>

</head>
<body>
{{/*<div class="gonggao" style="z-index: 999999">*/}}
    {{/*<marquee behavior="scroll" contenteditable="true" onstart="this.firstChild.innerHTML+=this.firstChild.innerHTML;" scrollamount="3" width="100%" onmouseover="this.stop();" onmouseout="this.start();">*/}}
        {{/*本游戏仅供测试、仅供娱乐，严禁赌博，如出现赌博行为，将封停账号并向公安机关举报 ！*/}}
    {{/*</marquee>*/}}
{{/*</div>*/}}
<img src="/static/home/image/big-bg.png" style="width: 100%;height: 100%;position: fixed;z-index: -5;">


<div class="aui-content" style="top:0px; position: fixed;width: 100%;z-index: 999">
    <div class="header" style="background-size: 100% 100%;">
        <div class="facico"><img id="headimgurl" src="" onerror="this.src='/static/home/image/noface.png'" /></div>
        <div class="user">
            <p class="user-name" id="nickname">加载中</p>
            <p class="user-id">( ID:<span id="userid">加载中</span> )</p>
        </div>
        <div class="gold-sum">
            <p class="gold">金币<span style="font-size: 0.6rem" id="money">加载中</span></p>
            {{/*<a class= "gold" href="http://t.ibangkf.com/i/chat-a2954573.html?l=a2954573"><span style="font-size: 0.8	rem; margin-top:20px;margin-right:5px;">→在线客服-*/}}
{{/*</span></a>*/}}
        </div>
        <div class="gold-sum" style="width: 190px;height: 40px">
            <a class= "gold"><span style="font-size: 0.8	rem; margin-top:20px;margin-right:5px;">→微信客服 cx19880121</span></a>
        </div>


    </div>
</div>


<div class="aui-content" style="margin-top: 3.4rem;">
    <div class="header-bottom">
        <img src="/static/home/image/banner.png">
    </div>
</div>


<div class="aui-content" style="margin-top: 3px; margin-bottom: 3px;">
    <ul class="aui-bar aui-bar-btn leixing" style="width:90%;">
        <li tag="5" class="aui-bar-btn-item aui-active">扫雷</li>
        <li tag="1" class="aui-bar-btn-item ">五人对战</li>
        <li tag="2" class="aui-bar-btn-item">牛牛</li>
        {{/*<li tag="5" class="aui-bar-btn-item">扫雷</li>*/}}
        {{/*<li tag="4" class="aui-bar-btn-item">二八杠</li>*/}}
    </ul>
    <ul class="aui-bar aui-bar-btn leixing2" style="width:90%; margin-top: 3px;">
        <li  ttag="1" class="aui-bar-btn-item aui-active">游戏记录</li>
        <li  ttag="2" class="aui-bar-btn-item">发包记录</li>
    </ul>
    <input name="yxlx" id="yxlx" type="hidden" value="1"  />
    <input name="fblx" id="fblx" type="hidden" value="1"  />
</div>
<div class="aui-content" style="padding-bottom: 2.5rem; font-size: 14px;">
    <ul class="aui-list-view">
        <li class="aui-list-view-cell" >
            <div class="aui-text-center aui-col-4 " style="background-color: #af0b09;color: #fff;">游戏类型</div>
            <div class="aui-text-center aui-col-4 " style="background-color: #af0b09;color: #fff;">时间</div>
            <div class="aui-text-center aui-col-4 " style="background-color: #af0b09;color: #fff;">游戏金币</div>
            <div class="aui-text-center aui-col-4 " style="background-color: #af0b09;color: #fff;">结果</div>
        </li>
    </ul>
    <ul class="aui-list-view" id="item">
    </ul>
</div>
<div id="xiangxi" class="mask" style="display: none;">
    <div class="mask-content">
        <div class="hbxqtop-nav">
            <div class="hbxqtop-navt">
                <a onclick="closes()">关闭</a>
                <p id="hbmc">红包</p>
                <img id="headimgurlfz" src="" onerror="this.src='/static/home/image/noface.png'" />
            </div>
            <div class="hbxqtop-context">
                <p id="nicknamefz"></p>
                <p id="conte"></p>
            </div>
        </div>
        <p class="hbxqlqrs">领取<span id="has_member"></span>/<span id="all_membey"></span>个</p>
        <ul class="hbxqjexq" id="items"></ul>
    </div>
</div>



<footer class="aui-bar aui-bar-tab" id="footer" style="background-color: #fff;">
    <div class="aui-bar-tab-item aui-active" tapmode>
        <a href="/home">
            <i class="aui-iconfont aui-img-21"><img src="/static/home/image/qhh-icon.png" /></i>
            <div class="aui-bar-tab-label aui-text-huangs">抢红包</div>
        </a>
    </div>
    <div class="aui-bar-tab-item" tapmode>
        <a href="/home/member/recharge">
            <i class="aui-iconfont aui-img-21"><img src="/static/home/image/cz-icon.png" /></i>
            <div class="aui-bar-tab-label aui-text-huangs">充值</div>
        </a>
    </div>
    <div class="aui-bar-tab-item" tapmode>
        <a href="/home/member/outred">
            <i class="aui-iconfont aui-img-21"><img src="/static/home/image/fhb-icon.png" /></i>
            <div class="aui-bar-tab-label aui-text-huangs">微信提现</div>
        </a>
    </div>
    <div class="aui-bar-tab-item" tapmode>
        <a href="/home/member/record">
            <i class="aui-iconfont aui-img-21"><img src="/static/home/image/yxjl-icon.png" /></i>
            <div class="aui-bar-tab-label aui-text-huangs">游戏记录</div>
        </a>
    </div>
    <div class="aui-bar-tab-item" tapmode>
        <a href="/home/member/agent">
            <i class="aui-iconfont aui-img-21"><img src="/static/home/image/dlzx-icon.png" /></i>
            <div class="aui-bar-tab-label aui-text-huangs">代理中心</div>
        </a>
    </div>
</footer>

<script type="text/javascript" src="/static/home/script/jquery-3.2.1.min.js" ></script>
<script type="text/javascript" src="/static/home/script/layer.js" ></script>
<script type="text/javascript">
    $(".leixing li").click(function(){
        $(".leixing li").removeClass("aui-active");
        $(this).addClass("aui-active");
        $("#yxlx").val($(this).attr("tag"));
        list($("#yxlx").val(),$("#fblx").val());
    });
    $(".leixing2 li").click(function(){
        $(".leixing2 li").removeClass("aui-active");
        $(this).addClass("aui-active");
        $("#fblx").val($(this).attr("ttag"));
        list($("#yxlx").val(),$("#fblx").val());
    });
    list(1,1);
    function list(tag,fblx) {
        var urls;
        if(fblx=='1'){
            var filename='getGaameRedPacketList';
            // if(tag=='5'){
            //     filename='getGaameRedPacketjlList';
            // }
        }else{
            var filename='getGaameRedPacketjlSendList';
            // if(tag=='5'){
            //     filename='getGaameRedPacketjlSendList';
            // }
        }
        urls='/home/index/'+filename+'?type='+tag;
        $.get(urls,function(data,status){
            if(status=='success'){
                var dataObj=eval("("+data+")");//转换为json对象
                var code=dataObj.code;
                console.log("a",dataObj)
                if(code=='0'){
                    layer.open({
                        content: dataObj.message
                        ,btn: '我知道了'
                    });
                }else{
                    $("#item").html('');
                    $.each(dataObj.request,function(i,item){
                        var leixing=item.GameType;
                        var leixings='';
                        var timess=item.Time;
                        switch(leixing){
                            case 1:
                                leixings='五人对战';
                                break;
                            case 2:
                                leixings='牛牛';
                                break;
                            case 3:
                                leixings='扫雷';
                                break;
                            case 4:
                                leixings='二八杠';
                                break;
                            case 5:
                                leixings='扫雷';
                                break;
                        }
                        if(fblx=='1'){
                            $("#item").append(
                                    '<li onclick=look('+leixing+','+item.id+') class="aui-list-view-cell">'+
                                    '<div class="aui-text-center aui-col-4" style="background-color: #e98731;color: #f5e9e9;">'+leixings+'</div>'+
                                    '<div class="aui-text-center aui-col-4" style="background-color: #e98731;color: #f5e9e9;">' +formatDate(timess,2)+'</div>'+
                                    '<div class="aui-text-center aui-col-4" style="background-color: #e98731;color: #f5e9e9;">'+item.Money+'</div>'+
                                    '<div class="aui-text-center aui-col-4" style="background-color: #e98731;color: #f5e9e9;">'+item.win_money+'</div>'+
                                    '</li>');
                        }else{
                            $("#item").append('<li onclick=look('+leixing+','+item.id+') class="aui-list-view-cell">'+
                                    '<div class="aui-text-center aui-col-4" style="background-color: #e98731;color: #f5e9e9;">'+leixings+'</div>'+
                                    '<div class="aui-text-center aui-col-4" style="background-color: #e98731;color: #f5e9e9;">' +formatDate(timess,2)+'</div>'+
                                    '<div class="aui-text-center aui-col-4" style="background-color: #e98731;color: #f5e9e9;">'+item.Money+'</div>'+
                                    '<div class="aui-text-center aui-col-4" style="background-color: #e98731;color: #f5e9e9;">'+item.win_money+'</div>'+
                                    '</li>');
                        }
                    });



                }
            }
        });
    }
    var hbmc,url;
    var stop='0';
    var stop_sl='0';
    function look(leixing,redId) {
        $("#xiangxi").show();
        switch(leixing){
            case 1:
                stop='0';
                hbmc='五人对战红包';
                url='/home/index/get_red_packet_info?redId='+redId;
                shujus_qt();
                setInterval("shujus_qt()", 3000);
                break;
            case 2:
                stop='0';
                hbmc='牛牛红包';
                url='/home/index/get_red_packet_info?redId='+redId;
                shujus_qt();
                setInterval("shujus_qt()", 3000);
                break;
            case 3:
                stop='0';
                hbmc='扫雷红包';
                url='/home/index/get_red_packet_info?redId='+redId;
                shujus_qt();
                setInterval("shujus_qt()", 3000);
                break;
            case 4:
                stop='0';
                hbmc='二八杠红包';
                url='/home/index/get_red_packet_info?redId='+redId;
                shujus_qt();
                setInterval("shujus_qt()", 3000);
                break;
            case 5:
                stop_sl='0';
                url='/home/jlindex/open_red_packets?redId='+redId;
                hbmc='扫雷红包';
                shujus_sl();
                setInterval("shujus_sl()", 3000);
                break;
        }
        $("#hbmc").html(hbmc);
    }
    function shujus_sl() {
        if(stop_sl=='1'){return;}
        $.get(url,function(data1,status1){
            if(status1=='success'){
                var dataObj1=eval("("+data1+")");//转换为json对象
                console.log("c",dataObj1)
                var status=dataObj1.request.redInfo.status;
                var tail_number=dataObj1.request.redInfo.tail_number;
                $("#headimgurlfz").attr('src',dataObj1.request.redInfo.headimgurl);
                $("#nicknamefz").html(dataObj1.request.redInfo.nickname+'的红包');
                $("#conte").html(dataObj1.request.redInfo.moneyfa+'金币 | 雷：'+dataObj1.request.redInfo.tail_number);
                $("#has_member").html(dataObj1.request.redInfo.has_member);
                $("#all_membey").html(dataObj1.request.redInfo.all_membey);
                if(status==1){stop_sl=1;}
                $("#items").html('');
                $.each(dataObj1.request.redItemList,function(i,item){
                    var lin_q,jieguo,jg_code;
                    lin_q=item.money;
                    jg_code=item.code;
                    if(jg_code==tail_number){
                        jieguo='碰雷';
                    }else{
                        jieguo='';
                    }
                    $("#items").append('<li class="aui-padded-l-10 aui-padded-r-10 hbxqxq">' +
                            '<img src="'+item.headimgurl+'" alt="" />' +
                            '<div class="hbxqbottom-context">' +
                            '<p>'+item.nickname+'</p>' +
                            '<p>'+formatDate(item.open_time,1)+'</p>' +
                            '</div>' +
                            '<p class="hbxje"><span>'+lin_q+'</span>金币</p></li>');
                });
            }
        });
    }
    function shujus_qt() {
        if(stop=='1'){return;}
        $.get(url,function(data1,status1){
            if(status1=='success'){
                var dataObj1=eval("("+data1+")");//转换为json对象
                var code1=dataObj1.code;
                console.log("d",dataObj1)
                if(code1=='1'){
                    $("#headimgurlfz").attr('src',dataObj1.request.redInfo.headimgurl);
                    $("#nicknamefz").html(dataObj1.request.redInfo.nickname+'的红包');
                    $("#conte").html(dataObj1.request.redInfo.Money+'金币');
                    $("#has_member").html(dataObj1.request.redInfo.has_member);
                    $("#all_membey").html(dataObj1.request.redInfo.all_membey);
                    var all_membey=dataObj1.request.redInfo.all_membey;
                    var has_member=dataObj1.request.redInfo.has_member;
                    $("#rs").html(has_member+'/'+all_membey);
                    if(has_member==all_membey){$.get("/home/Timer/gameOpen",function(data,status){});}
                    $("#items").html('');
                    var status=dataObj1.request.redInfo.status;
                    $.each(dataObj1.request.redItemList,function(i,item){
                        var styles,primordial_money,deduct_money,lin_q,kui,open_status,jieguo,jg_code;
                        open_status=item.open_status;
                        if(open_status=='1'){
                            lin_q=item.Money;
                            jieguo=item.code;
                        }else{
                            lin_q='???';
                            jieguo='???';

                        }
                        if(status=='0'){
                            deduct_money='???';
                            kui='???';
                        }else{
                            stop='1';
                            primordial_money=item.primordial_money;
                            deduct_money=item.deduct_money;
                            var winning=item.winning;
                            if(winning=='0'){
                                styles='style="color:yellow;"';
                                kui=primordial_money;
                            }else{
                                styles='style="color:#3bb4f2;"';
                                kui='+'+primordial_money;
                            }
                            $("#items").append('<li class="aui-padded-l-10 aui-padded-r-10 hbxqxq">' +
                                    '<img src="'+item.headimgurl+'" alt="" />' +
                                    '<div class="hbxqbottom-context">' +
                                    '<p>'+item.nickname+'</p>' +
                                    '<p>'+formatDate(item.open_time,1)+'</p>' +
                                    '</div>' +
                                    '<p class="hbxje"><span>'+lin_q+'</span>金币</p></li>');

                        }
                        //
                    });
                }
            }
        });
    }
    function closes() {
        $("#xiangxi").hide();
    }


</script>


<script type="text/javascript">
    $(document).ready(function(){
        $.get("/home/login/getMemberInfo",function(data,status){
            if(status=='success'){
                var dataObj=eval("("+data+")");//转换为json对象
                var code=dataObj.code;
                if(code=='1'){
                    // if(dataObj.request.username==''){
                    //     $(location).attr('href', '/home/login/usernameset');
                    // }
                    $("#money").html(dataObj.request.golds);
                    $("#headimgurl").attr('src',dataObj.request.headimgurl);
                    $("#nickname").html(dataObj.request.nickname);
                    $("#userid").html(dataObj.request.id);
                    $("#zxrs").html(dataObj.request.numberOnline);
                }
            }
        });
    });
</script>

<script type="text/javascript">
    /**
     * 时间戳转换日期
     * @param <int> unixTime  待时间戳(秒)
     * @param <bool> isFull  返回完整时间(Y-m-d 或者 Y-m-d H:i:s)
     */
    function formatDate(unixTime, type) {
        var time = new Date(unixTime * 1000);
        var year=time.getUTCFullYear();
        var month=time.getUTCMonth()+1;
        var date=time.getUTCDate();
        var hour=getzf(time.getHours());
        var minute=getzf(time.getMinutes());
        var second=getzf(time.getUTCSeconds());
        switch(type){
            case 1:
                return hour+":"+minute+":"+second;
            case 2:
                return month+"-"+date+" "+hour+":"+minute;
            default:
                return year+"-"+month+"-"+date+" "+hour+":"+minute+":"+second;
        }
    }
    //补0操作
    function getzf(num){
        if(parseInt(num) < 10){
            num = '0'+num;
        }
        return num;
    }
</script>
</body>
</html>
