
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>扫雷</title>
    <link rel="stylesheet" type="text/css" href="/static/home/css/aui.css" />
    <link rel="stylesheet" type="text/css" href="/static/home/css/member.css" />

    <link rel="stylesheet" type="text/css" href="/static/home/css/layer.css" />

    <style type="text/css">
        .gonggao{
            width: 100%;
            height: 45px;
            top: 6.5rem;
            position: absolute;
            background-color:rgba(0,0,0,0.5);
        }
        .gonggao>marquee{
            color: #fff;
            font-size: 18px;
            line-height: 45px;
        }
        .kf{

            height: 20px;
            top: 6.5rem;
            position: absolute;

            color: #fff;
            font-size: 18px;
            line-height: 45px;
        }
        .header div:nth-of-type(4){
            float: right;
        }
    </style>

</head>
<body>
{{/*<div class="gonggao" style="z-index: 999999">*/}}
    {{/*<marquee behavior="scroll" contenteditable="true" onstart="this.firstChild.innerHTML+=this.firstChild.innerHTML;" scrollamount="3" width="100%" onmouseover="this.stop();" onmouseout="this.start();">*/}}
        {{/*本游戏仅供测试、仅供娱乐，严禁赌博，如出现赌博行为，将封停账号并向公安机关举报 ！*/}}
    {{/*</marquee>*/}}
{{/*</div>*/}}
<img src="/static/home/image/big-bg.png" style="width: 100%;height: 100%;position: fixed;z-index: -5;">


<div class="aui-content" style="top:0px; position: fixed;width: 100%;z-index: 999">
    <div class="header" style="background-size: 100% 100%;">
        <div class="facico"><img id="headimgurl" src="" onerror="this.src='/static/home/image/noface.png'" /></div>
        <div class="user">
            <p class="user-name" id="nickname">加载中</p>
            <p class="user-id">( ID:<span id="userid">加载中</span> )</p>
        </div>
        <div class="gold-sum">
            <p class="gold">金币<span style="font-size: 0.6rem" id="money">加载中</span></p>

        </div>
        <div class="gold-sum" style="width: 190px;height: 40px">
            <a class= "gold"><span style="font-size: 0.8	rem; margin-top:20px;margin-right:5px;">→微信客服 cx19880121</span></a>
        </div>
    </div>
</div>


<div class="aui-content" style="margin-top: 3.4rem;">
    <div class="header-bottom">
        <img src="/static/home/image/banner.png">
    </div>
</div>
<div class="aui-content" style="padding: 0 20px;">
    <div  style="text-align: center; float: left; width: 100%; font-weight: bold; font-size: larger; ">
        人数</div>
    <ul class="jinbi number">
        <li style="width: 17%" class="aui-btn aui-btn-danger aui-btn-sm aui-btn-block " tag="5">5</li>
        <li style="width: 17%" class="aui-btn aui-btn-danger aui-btn-sm aui-btn-block aui-btn-outlined" tag="6">6</li>
        <li style="width: 17%" class="aui-btn aui-btn-danger aui-btn-sm aui-btn-block aui-btn-outlined" tag="7">7</li>
        <li style="width: 17%" class="aui-btn aui-btn-danger aui-btn-sm aui-btn-block aui-btn-outlined" tag="8">8</li>
        <li style="width: 17%" class="aui-btn aui-btn-danger aui-btn-sm aui-btn-block aui-btn-outlined" tag="9">9</li>
        <li style="width: 17%" class="aui-btn aui-btn-danger aui-btn-sm aui-btn-block aui-btn-outlined" tag="10">10</li>
    </ul>
</div>

<div class="aui-content" style="padding: 0 20px;">
    <ul class="jinbi jj">
        <li class="aui-btn aui-btn-danger aui-btn-sm aui-btn-block" tag="10">10金币</li>
        <li class="aui-btn aui-btn-danger aui-btn-sm aui-btn-block aui-btn-outlined" tag="20">20金币</li>
        <li class="aui-btn aui-btn-danger aui-btn-sm aui-btn-block aui-btn-outlined" tag="30">30金币</li>
        <li class="aui-btn aui-btn-danger aui-btn-sm aui-btn-block aui-btn-outlined" tag="50">50金币</li>
        <li class="aui-btn aui-btn-danger aui-btn-sm aui-btn-block aui-btn-outlined" tag="100">100金币</li>
        <li class="aui-btn aui-btn-danger aui-btn-sm aui-btn-block aui-btn-outlined" tag="200">200金币</li>
        <li class="aui-btn aui-btn-danger aui-btn-sm aui-btn-block aui-btn-outlined" tag="300">300金币</li>
        <li class="aui-btn aui-btn-danger aui-btn-sm aui-btn-block aui-btn-outlined" tag="400">400金币</li>
        <li class="aui-btn aui-btn-danger aui-btn-sm aui-btn-block aui-btn-outlined" tag="500">500金币</li>
    </ul>
</div>
<div class="aui-content" style="padding: 0 20px;">
    <div  style="text-align: center; float: left; width: 100%; font-family: 'Microsoft YaHei' ! important; font-weight: bold; font-size: larger; ">
        尾数</div>
    <ul class="jinbi ws">
        <li style="width: 17%" class="aui-btn aui-btn-danger aui-btn-sm aui-btn-block aui-btn-outlined" tag="0">0</li>
        <li style="width: 17%" class="aui-btn aui-btn-danger aui-btn-sm aui-btn-block aui-btn-outlined" tag="1">1</li>
        <li style="width: 17%" class="aui-btn aui-btn-danger aui-btn-sm aui-btn-block aui-btn-outlined" tag="2">2</li>
        <li style="width: 17%" class="aui-btn aui-btn-danger aui-btn-sm aui-btn-block aui-btn-outlined" tag="3">3</li>
        <li style="width: 17%" class="aui-btn aui-btn-danger aui-btn-sm aui-btn-block aui-btn-outlined" tag="4">4</li>
        <li style="width: 17%" class="aui-btn aui-btn-danger aui-btn-sm aui-btn-block aui-btn-outlined" tag="5">5</li>
        <li style="width: 17%" class="aui-btn aui-btn-danger aui-btn-sm aui-btn-block aui-btn-outlined" tag="6">6</li>
        <li style="width: 17%" class="aui-btn aui-btn-danger aui-btn-sm aui-btn-block" tag="7">7</li>
        <li style="width: 17%" class="aui-btn aui-btn-danger aui-btn-sm aui-btn-block aui-btn-outlined" tag="8">8</li>
        <li style="width: 17%" class="aui-btn aui-btn-danger aui-btn-sm aui-btn-block aui-btn-outlined" tag="9">9</li>
    </ul>
</div>
<div style="margin:0 auto;text-align: center; margin-top: 20px;padding-bottom: 3rem;">
    <img style="margin: 0 auto;" id="fabu" src="/static/home/image/button-fhb.png" height="50" />
</div>
<input name="money" id="moneys" type="hidden" value="10"  />
<input name="money" id="tailNumber" type="hidden" value="7"  />
<input name="number" id="number" type="hidden" value="5"  />


<footer class="aui-bar aui-bar-tab" id="footer" style="background-color: #fff;">
    <div class="aui-bar-tab-item aui-active" tapmode>
        <a href="/home">
            <i class="aui-iconfont aui-img-21"><img src="/static/home/image/qhh-icon.png" /></i>
            <div class="aui-bar-tab-label aui-text-huangs">抢红包</div>
        </a>
    </div>
    <div class="aui-bar-tab-item" tapmode>
        <a href="/home/member/recharge">
            <i class="aui-iconfont aui-img-21"><img src="/static/home/image/cz-icon.png" /></i>
            <div class="aui-bar-tab-label aui-text-huangs">充值</div>
        </a>
    </div>
    <div class="aui-bar-tab-item" tapmode>
        <a href="/home/member/outred">
            <i class="aui-iconfont aui-img-21"><img src="/static/home/image/fhb-icon.png" /></i>
            <div class="aui-bar-tab-label aui-text-huangs">微信提现</div>
        </a>
    </div>
    <div class="aui-bar-tab-item" tapmode>
        <a href="/home/member/record">
            <i class="aui-iconfont aui-img-21"><img src="/static/home/image/yxjl-icon.png" /></i>
            <div class="aui-bar-tab-label aui-text-huangs">游戏记录</div>
        </a>
    </div>
    <div class="aui-bar-tab-item" tapmode>
        <a href="/home/member/agent">
            <i class="aui-iconfont aui-img-21"><img src="/static/home/image/dlzx-icon.png" /></i>
            <div class="aui-bar-tab-label aui-text-huangs">代理中心</div>
        </a>
    </div>
</footer>

<script type="text/javascript" src="/static/home/script/jquery-3.2.1.min.js" ></script>

<script type="text/javascript" src="/static/home/script/jquery-3.2.1.min.js" ></script>
<script type="text/javascript" src="/static/home/script/layer.js" ></script>
<script type="text/javascript">
    $(document).ready(function(){
        $(".jj li").click(function(){
            $(".jj li").addClass("aui-btn-outlined");
            $(this).removeClass("aui-btn-outlined");
            $("#moneys").val($(this).attr("tag"));
        });
        $(".ws li").click(function(){
            $(".ws li").addClass("aui-btn-outlined");
            $(this).removeClass("aui-btn-outlined");
            $("#tailNumber").val($(this).attr("tag"));
        });
        $(".number li").click(function(){
            $(".number li").addClass("aui-btn-outlined");
            $(this).removeClass("aui-btn-outlined");
            $("#number").val($(this).attr("tag"));
        });

        $("#fabu").click(function(){
            var money = $("#moneys").val(); //获取
            var tailNumber = $("#tailNumber").val(); //获取
            var number = $("#number").val(); //获取
            if (money==''){money=10;}
            if (tailNumber==''){tailNumber=7;}
            $.get("../jlindex/add_red_packet?type=5"+'&money='+money+'&tailNumber='+tailNumber+'&nuber='+number,function(data,status){
                if(status=='success'){
                    var dataObj=eval("("+data+")");//转换为json对象
                    var code=dataObj.request.code;
                    if(code=='0'){
                        layer.open({
                            content: dataObj.request.msg
                            ,btn: '我知道了'
                        });
                    }else{
                        $(location).attr('href', '/home/saoleijl');
                    }
                }
            });
        });
    });
</script>


<script type="text/javascript">
    $(document).ready(function(){
        $.get("/home/login/getMemberInfo",function(data,status){
            if(status=='success'){
                var dataObj=eval("("+data+")");//转换为json对象
                var code=dataObj.code;
                if(code=='1'){
                    // if(dataObj.request.username==''){
                    //     $(location).attr('href', '/home/login/usernameset');
                    // }
                    $("#money").html(dataObj.request.golds);
                    $("#headimgurl").attr('src',dataObj.request.headimgurl);
                    $("#nickname").html(dataObj.request.username);
                    $("#userid").html(dataObj.request.id);
                    $("#zxrs").html(dataObj.request.numberOnline);
                }
            }
        });
    });
</script>

<script type="text/javascript">
    /**
     * 时间戳转换日期
     * @param <int> unixTime  待时间戳(秒)
     * @param <bool> isFull  返回完整时间(Y-m-d 或者 Y-m-d H:i:s)
     */
    function formatDate(unixTime, type) {
        var time = new Date(unixTime * 1000);
        var year=time.getUTCFullYear();
        var month=time.getUTCMonth()+1;
        var date=time.getUTCDate();
        var hour=getzf(time.getHours());
        var minute=getzf(time.getMinutes());
        var second=getzf(time.getUTCSeconds());
        switch(type){
            case 1:
                return hour+":"+minute+":"+second;
            case 2:
                return month+"-"+date+" "+hour+":"+minute;
            default:
                return year+"-"+month+"-"+date+" "+hour+":"+minute+":"+second;
        }
    }
    //补0操作
    function getzf(num){
        if(parseInt(num) < 10){
            num = '0'+num;
        }
        return num;
    }
</script>
</body>
</html>
