{{ template "weixin_header" }}
<link href="newcss/newlogin.css" rel="stylesheet">
<div class="container">
    <form class="form-signin" role="form">
        <img src="" id="image" alt="头像" class="img-responsive"/>
        <h2 class="form-signin-heading" id="title"></h2>
        <div class="input-prepend">
            <span class="add-on"><i class="icon-user icon-white"></i></span>
            <input type="text" class="form-control" id="mid"  placeholder="请输入用户ID" onblur="GetPwdAndChk()" required><!--onblur="GetPwdAndChk()"-->
        </div>
        <div class="input-prepend">
            <span class="add-on"><i class="icon-lock icon-white"></i></span>
            <input type="password" class="form-control" id="mPass" placeholder="请输入密码" required>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me" id="rememberpass"> 记住我
            </label>
            <a href="findpass.html">忘记密码</a>
        </div>
        <button class="btn btn-lg  btn-block"  id="doLogin">登&nbsp;&nbsp;录</button>
        <div class="checkarea">
            <img src="img/check.png" id="mark" class="img-responsive"/><img src="img/checkedbox.png" class="img-responsive"/>
            <input type="checkbox" name="check" id="check" checked="checked"/><a href="###" class="yhxy">同意《用户使用协议</a>
        </div>
    </form>
</div> <!-- /container -->
<div class="alert alert-warning alert-dismissable"  role="alert">
</div>
{{ template "weixin_footer" }}