{{template "manage_header" }}

<form id="form_list" action="" method="get">
    <input type="hidden" name="page" value="{{.withdrawals.page}}">
    <input type="hidden" name="status" value="{{.status}}">
</form>
<table class="layui-table">
    <thead>
    <tr>
        <th>ID</th>
        <th>用户</th>
        <th>昵称</th>
        <th>数量</th>
        <th>时间</th>
        <th>状态</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody id="Data">
    {{range $k,$v := .withdrawals.data}}
    <tr>
        <td>{{$v.Id}}</td>
        <td>{{$v.username}}</td>
        <td>{{$v.nikename}}</td>
        <td>{{$v.Number}}</td>
        <td>{{$v.Time}}</td>
        <td>
        {{if eq $v.Status 0}}未受理{{end}}
        {{if eq $v.Status 1}}已受理{{end}}
        {{if eq $v.Status 2}}已拒绝{{end}}
        </td>
        {{/*<td><a href="/admin/manage/agent?pid={{$v.Id}}">点击查看</a></td>*/}}
        <td>
        {{if eq $v.Status 2 0}}
            <a href='/admin/manage/Withdrawals/operation?id={{$v.Id}}&types=ok' class="layui-btn layui-btn-sm agree-btn" type="button">同意</a>
         {{end}}
        {{if eq $v.Status  0}}
            <a class="layui-btn layui-btn-sm layui-btn-normal agree-btn" href='/admin/manage/Withdrawals/operation?id={{$v.Id}}&types=no' type="button">拒绝</a>
        {{end}}
            {{if eq $v.Status 1 2}}
            <a class="layui-btn layui-btn-sm layui-btn-danger agree-btn" href='/admin/manage/Withdrawals/operation?id={{$v.Id}}&types=del' type="button">删除</a>
                                                                                                                                           {{end}}
        </td>
    </tr>
    {{end}}
    </tbody>
</table>
<div style="height: 35px;width: 750px;">
    <div id="view_page"></div>
</div>

<script>
    common.bindAjax("click", ".agree-btn", function (e) {
        e.preventDefault();
        return window.confirm("是否同意？")
    }, function (req, res) {
        console.log("tagree ", res)
    })

    layui.use('laypage', function() {


        $("#form_list_btn").on("click", function (e) {
            e.preventDefault();
            var page = $("#form_list").find("[name=page]");
            page.val(1);
            $("#form_list").submit();
        });


        layui.laypage({
            cont: 'view_page',
            pages: {{.withdrawals.page_count}}, //总页数
            curr: {{.withdrawals.page}},
            skip: true, //连续显示分页数
            jump: function (obj) {
                var page = $("#form_list").find("[name=page]");
                if (page.val() != obj.curr) {
                    page.val(obj.curr);
                    $("#form_list").submit();
                }
            }
        });
    });

</script>

{{template "manage_footer" }}