{{template "manage_header" }}
<div class="layui-tab" style="overflow: visible" lay-filter="goods_tab">

    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">

            <a href="add?t={{.table}}" class="layui-btn">新增</a>
            <table class="layui-table">
                <thead>
                <tr>
                    <td>游戏ID</td>
                    <td>游戏</td>
                    <td>是否在维护中</td>
                    <td>操作</td>
                </tr>
                </thead>
                <tbody>
                    <tr><td>1</td><td>TEXAS</td><td>{{if eq .info_1 0}}否{{else}}是{{end}}</td><td>{{if eq .info_1 0}} <a href="/admin/config/game/gameListEdit?code=1&edit=1" class="layui-btn" type="submit">维护</a>{{else}}<a href="/admin/config/game/gameListEdit?code=1&edit=0" class="layui-btn" type="submit">完成</a>{{end}}</td></tr>
                    <tr><td>2</td><td>MAHJONG</td><td>{{if eq .info_2 0}}否{{else}}是{{end}}</td><td>{{if eq .info_2 0}} <a href="/admin/config/game/gameListEdit?code=2&edit=1" class="layui-btn" type="submit">维护</a>{{else}}<a href="/admin/config/game/gameListEdit?code=2&edit=0" class="layui-btn" type="submit">完成</a>{{end}}</td></tr>
                    <tr><td>3</td><td>DDZ</td><td>{{if eq .info_3 0}}否{{else}}是{{end}}</td><td>{{if eq .info_3 0}} <a href="/admin/config/game/gameListEdit?code=3&edit=1" class="layui-btn" type="submit">维护</a>{{else}}<a href="/admin/config/game/gameListEdit?code=3&edit=0" class="layui-btn" type="submit">完成</a>{{end}}</td></tr>
                    <tr><td>4</td><td>ZJH</td><td>{{if eq .info_4 0}}否{{else}}是{{end}}</td><td>{{if eq .info_4 0}} <a href="/admin/config/game/gameListEdit?code=4&edit=1" class="layui-btn" type="submit">维护</a>{{else}}<a href="/admin/config/game/gameListEdit?code=4&edit=0" class="layui-btn" type="submit">完成</a>{{end}}</td></tr>
                    <tr><td>5</td><td>HALL</td><td>{{if eq .info_5 0}}否{{else}}是{{end}}</td><td>{{if eq .info_5 0}} <a href="/admin/config/game/gameListEdit?code=5&edit=1" class="layui-btn" type="submit">维护</a>{{else}}<a href="/admin/config/game/gameListEdit?code=5&edit=0" class="layui-btn" type="submit">完成</a>{{end}}</td></tr>
                    <tr><td>7</td><td>PDK</td><td>{{if eq .info_7 0}}否{{else}}是{{end}}</td><td>{{if eq .info_7 0}} <a href="/admin/config/game/gameListEdit?code=7&edit=1" class="layui-btn" type="submit">维护</a>{{else}}<a href="/admin/config/game/gameListEdit?code=7&edit=0" class="layui-btn" type="submit">完成</a>{{end}}</td></tr>
                    <tr><td>8</td><td>ZXZ</td><td>{{if eq .info_8 0}}否{{else}}是{{end}}</td><td>{{if eq .info_8 0}} <a href="/admin/config/game/gameListEdit?code=8&edit=1" class="layui-btn" type="submit">维护</a>{{else}}<a href="/admin/config/game/gameListEdit?code=8&edit=0" class="layui-btn" type="submit">完成</a>{{end}}</td></tr>
                    <tr><td>9</td><td>MJBAISHAN</td><td>{{if eq .info_9 0}}否{{else}}是{{end}}</td><td>{{if eq .info_9 0}} <a href="/admin/config/game/gameListEdit?code=9&edit=1" class="layui-btn" type="submit">维护</a>{{else}}<a href="/admin/config/game/gameListEdit?code=9&edit=0" class="layui-btn" type="submit">完成</a>{{end}}</td></tr>
                    <tr><td>10</td><td>MJCHANGCHUN</td><td>{{if eq .info_10 0}}否{{else}}是{{end}}</td><td>{{if eq .info_10 0}} <a href="/admin/config/game/gameListEdit?code=10&edit=1" class="layui-btn" type="submit">维护</a>{{else}}<a href="/admin/config/game/gameListEdit?code=10&edit=0" class="layui-btn" type="submit">完成</a>{{end}}</td></tr>
                    <tr><td>11</td><td>NIUNIUJINGDIAN</td><td>{{if eq .info_11 0}}否{{else}}是{{end}}</td><td>{{if eq .info_11 0}} <a href="/admin/config/game/gameListEdit?code=11&edit=1" class="layui-btn" type="submit">维护</a>{{else}}<a href="/admin/config/game/gameListEdit?code=11&edit=0" class="layui-btn" type="submit">完成</a>{{end}}</td></tr>
                    <tr><td>12</td><td>BANTUOZI</td><td>{{if eq .info_12 0}}否{{else}}是{{end}}</td><td>{{if eq .info_12 0}} <a href="/admin/config/game/gameListEdit?code=12&edit=1" class="layui-btn" type="submit">维护</a>{{else}}<a href="/admin/config/game/gameListEdit?code=12&edit=0" class="layui-btn" type="submit">完成</a>{{end}}</td></tr>
                    <tr><td>13</td><td>DOUDIZHUERREN</td><td>{{if eq .info_13 0}}否{{else}}是{{end}}</td><td>{{if eq .info_13 0}} <a href="/admin/config/game/gameListEdit?code=13&edit=1" class="layui-btn" type="submit">维护</a>{{else}}<a href="/admin/config/game/gameListEdit?code=13&edit=0" class="layui-btn" type="submit">完成</a>{{end}}</td></tr>
                    <tr><td>14</td><td>DOUDIZHUJINGDIANDONGBEI</td><td>{{if eq .info_14 0}}否{{else}}是{{end}}</td><td>{{if eq .info_14 0}} <a href="/admin/config/game/gameListEdit?code=14&edit=1" class="layui-btn" type="submit">维护</a>{{else}}<a href="/admin/config/game/gameListEdit?code=14&edit=0" class="layui-btn" type="submit">完成</a>{{end}}</td></tr>
                    <tr><td>15</td><td>TIANDAKENG</td><td>{{if eq .info_15 0}}否{{else}}是{{end}}</td><td>{{if eq .info_15 0}} <a href="/admin/config/game/gameListEdit?code=15&edit=1" class="layui-btn" type="submit">维护</a>{{else}}<a href="/admin/config/game/gameListEdit?code=15&edit=0" class="layui-btn" type="submit">完成</a>{{end}}</td></tr>
                    <tr><td>16</td><td>MJ_SONGJIANGHE</td><td>{{if eq .info_16 0}}否{{else}}是{{end}}</td><td>{{if eq .info_16 0}} <a href="/admin/config/game/gameListEdit?code=16&edit=1" class="layui-btn" type="submit">维护</a>{{else}}<a href="/admin/config/game/gameListEdit?code=16&edit=0" class="layui-btn" type="submit">完成</a>{{end}}</td></tr>
                    <tr><td>17</td><td>BAIRENNIUNIU</td><td>{{if eq .info_17 0}}否{{else}}是{{end}}</td><td>{{if eq .info_17 0}} <a href="/admin/config/game/gameListEdit?code=17&edit=1" class="layui-btn" type="submit">维护</a>{{else}}<a href="/admin/config/game/gameListEdit?code=17&edit=0" class="layui-btn" type="submit">完成</a>{{end}}</td></tr>
                    <tr><td>18</td><td>ZHIZUNWUZHANG</td><td>{{if eq .info_18 0}}否{{else}}是{{end}}</td><td>{{if eq .info_18 0}} <a href="/admin/config/game/gameListEdit?code=18&edit=1" class="layui-btn" type="submit">维护</a>{{else}}<a href="/admin/config/game/gameListEdit?code=18&edit=0" class="layui-btn" type="submit">完成</a>{{end}}</td></tr>
                    <tr><td>19</td><td>MJ_YIBIN</td><td>{{if eq .info_19 0}}否{{else}}是{{end}}</td><td>{{if eq .info_19 0}} <a href="/admin/config/game/gameListEdit?code=19&edit=1" class="layui-btn" type="submit">维护</a>{{else}}<a href="/admin/config/game/gameListEdit?code=19&edit=0" class="layui-btn" type="submit">完成</a>{{end}}</td></tr>
                    <tr><td>20</td><td>MJ_PENGZHOU</td><td>{{if eq .info_20 0}}否{{else}}是{{end}}</td><td>{{if eq .info_20 0}} <a href="/admin/config/game/gameListEdit?code=20&edit=1" class="layui-btn" type="submit">维护</a>{{else}}<a href="/admin/config/game/gameListEdit?code=20&edit=0" class="layui-btn" type="submit">完成</a>{{end}}</td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



<script>

    $(document).ready(function () {
        var ids = {{.ids}}
        ids = eval('('+ids+')');

        for(var i=0; i<ids.length; i++ ){
            $(".input_id_"+i).val(ids[i].Id);
        }
    });

    $(".jump_btn").on("click", function (e) {
        var id = $(this).data("id");
        $(".table_item").hide();
        $("#table_"+id).show();
    });
    common.bindAjax("submit", ".layui-form", function (e) {
        e.preventDefault();
        return window.confirm("确定更新该条配置吗？");
    }, function (req, res) {
        common.msg("消息", res.msg);
        window.location.reload();
    });

</script>

{{template "manage_footer" }}