{{template "manage_header" }}
<div class="layui-tab" style="overflow: visible" lay-filter="goods_tab">

    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">

            <table class="layui-table">
                <thead>
                <tr>
                    {{range $i,$row := .list}}
                        {{if eq $i 0}}
                            {{range $v := $row}}
                                <th>{{$v.Title}}</th>
                            {{end}}
                        {{end}}
                    {{end}}
                    <td>操作</td>
                </tr>
                </thead>
                <tbody>
                {{range $i,$row := .list}}
                <tr>
                    {{range $v := $row}}
                         <td>{{$v.Value}}</td>
                    {{end}}
                    <td><button class="jump_btn" data-id="{{$i}}">编辑</button></td>
                </tr>
                {{end}}
                </tbody>
            </table>

            {{range $i,$row := .list}}
            <a name="item{{$i}}"></a>
            <table class="layui-table">
                <thead>
                <tr>
                    <th>配置名</th>
                    <th>类型</th>
                    <th>键</th>
                    <th>值</th>
                    <th>描述</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {{range $v := $row}}
                <form class="form_list_item" data-id="{{$i}}" action="edit" method="post">
                    <input type="hidden" name="table" value="{{$.table}}">
                    <input class="input_id_{{$i}}" type="hidden" name="id" value="">
                    <input type="hidden" name="field" value="{{$v.Name}}">
                    <tr>
                        <td>{{$v.Title}}</td>
                        <td>{{$v.Type}}</td>
                        <td>{{$v.Name}}</td>
                        <td>
                            <input class="layui-input" type="text" name="value" value="{{$v.Value}}">
                        </td>
                        <td>{{$v.Info}}</td>
                        <td>
                            <input class="layui-btn" type="submit" value="更新">
                            <input class="layui-btn layui-btn-primary" type="reset" value="重置">
                        </td>
                    </tr>
                </form>
                {{end}}
                </tbody>
            </table>
            {{end}}
        </div>
    </div>
</div>



<script>

    $(document).ready(function () {
        var ids = {{.ids}}
        ids = eval('('+ids+')');

        for(var i=0; i<ids.length; i++ ){
            $(".input_id_"+i).val(ids[i].Id);
        }
    });

    $(".jump_btn").on("click", function (e) {
        var id = $(this).data("id");
        location.href = "#item"+id
    });

    //更新
    common.bindAjax("submit", ".form_list_item", function (e) {
        e.preventDefault();
        return window.confirm("确定更新该条配置吗？");
    }, function (req, res) {
        common.msg("消息", res.msg);
    });

</script>

{{template "manage_footer" }}