{{ template "weixin_header" }}
<!--顶部 导航栏部分-->
<nav class="nav navbar-default navbar-mystyle navbar-fixed-top">
    <div class="navbar-header">
        <a id="back-btn" href="/weixin/agent">
            <span id="back-text">返回</span>
        </a>
        <span><a id="logo-text" href="/weixin/agent">动点游戏</a></span>
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!--<a class="navbar-brand mystyle-brand" href="#"><span class="glyphicon glyphicon-home"></span></a>-->
    </div>
    <div class="collapse navbar-collapse" style="background-color: #394555;">
        <ul class="nav navbar-nav pull-right">
            <!--<li class="dropdown li-border" id="oSpan"><a href="#" class="dropdown-toggle mystyle-color" data-toggle="dropdown">选择游戏后台<span class="caret"></span></a>-->
            <!--<ul class="dropdown-menu" id="choseGame">-->
            <!--</ul>-->
            <!--</li>-->
            <li class="dropdown li-border"><a href="#" class="dropdown-toggle mystyle-color" data-toggle="dropdown"><span id="userNick">{{.wx_user.Nickname}}</span><span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#" id="logout">退出</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<!--左侧菜单栏部分-->
<div class="down-main">
    <!--右侧主体部分-->
    <div class="my-index right-off">
        <div class="">
            <form id="form_list" action="" method="get">
                <input type="hidden" name="page" value="{{.page.page}}">
                <input type="hidden" name="status" value="{{.status}}">
            </form>

            <div class="layui-tab" style="overflow: visible" lay-filter="apply_tab">
                <ul class="layui-tab-title">
                    <li data-status="1" {{if eq .status 1}}class="layui-this"{{end}}>待审核</li>
                    <li data-status="3" {{if eq .status 3}}class="layui-this"{{end}}>已通过</li>
                    <li data-status="2" {{if eq .status 2}}class="layui-this"{{end}}>已拒绝</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <table class="layui-table">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>游戏id</th>
                                <th>姓名</th>
                                <th>电话</th>
                                <th>状态</th>
                                <th>请求时间</th>
                                {{if ne .status 1}}
                                <th>处理时间</th>
                                {{end}}
                                {{if eq .status 1}}
                                <th>操作</th>
                                {{end}}
                            </tr>
                            </thead>
                            <tbody>
                            {{range $k,$v := .list}}
                            <tr>
                                <td>{{$v.Id.Hex}}</td>
                                <td>{{$v.UserId}}</td>
                                <td>{{$v.Name}}</td>
                                <td>{{$v.Phone}}</td>
                                <td>{{$v.Status.Name}}</td>
                                <td>{{$v.RequestTime.Format "2006-01-02 15:04:05"}}</td>
                                {{if ne $v.Status 1}}
                                <td>{{$v.ProcessTime.Format "2006-01-02 15:04:05"}}</td>
                                {{end}}
                                {{if eq $v.Status 1}}
                                <td>
                                    <form class="layui-form" action="">
                                        <div class="layui-form-item">
                                            <div class="layui-input-inline">
                                                <select class="select_status" lay-filter="status" data-id="{{$v.Id.Hex}}" name="status">
                                                    <option value="">操作</option>
                                                    <option value="2">拒绝</option>
                                                    <option value="3">通过</option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                </td>
                                {{end}}
                            </tr>
                            {{end}}
                            </tbody>
                        </table>
                        <div style="height: 35px;width: 750px;">
                            <div id="view_page"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/weixin/js/slide_menu.js"></script>
<script src="/static/weixin/js/share.js"></script>
<script type="text/javascript">
    $("title").html("代理申请管理");

    layui.use(["laypage","laydate", "form", "element"], function () {
        //选项卡
        layui.element().on("tab(apply_tab)", function(ele){
            window.location.href = "/weixin/agent/apply/log?status="+this.getAttribute("data-status")
        });

        var form = layui.form();
        form.on('select(status)', function (data) {
            var val = data.value;
            var elem = data.elem;
            var id = $(elem).data("id");
            if(window.confirm("确定执行该操作吗？")){
                $.ajax({
                    url:"/weixin/agent/apply/switch",
                    type:"get",
                    data:{"id": id, "status": val},
                    success: function (res) {
                        if(window.confirm(res.msg)){
                            window.location.reload();
                        }
                    }
                });
            }
        });

        layui.laypage({
            cont: 'view_page',
            pages: {{.page.page_count}}, //总页数
        curr: {{.page.page}},
        skip:true, //连续显示分页数
            jump: function (obj) {
            var page = $("#form_list").find("[name=page]");
            if(page.val() != obj.curr) {
                page.val(obj.curr);
                $("#form_list").submit();
            }
        }
    });

    });

</script>


{{ template "weixin_footer" }}
