{{template "manage_header" }}
<div class="layui-tab" style="overflow: visible" lay-filter="goods_tab">
    <ul class="layui-tab-title">
        <li data-cate_id="0" {{if eq .cate_id 0}}class="layui-this"{{end}}>全部</li>
        <li data-cate_id="1" {{if eq .cate_id 1}}class="layui-this"{{end}}>金币兑换</li>
        <li data-cate_id="2" {{if eq .cate_id 2}}class="layui-this"{{end}}>钻石购买</li>
        <li data-cate_id="3" {{if eq .cate_id 3}}class="layui-this"{{end}}>兑换专区</li>
        <li data-cate_id="4" {{if eq .cate_id 4}}class="layui-this"{{end}}>道具购买</li>

    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <table class="layui-table">
                <thead>
                <tr>
                    <th>商品Id</th>
                    <th>排序</th>
                    <th>商品名</th>
                    <th>所属分类</th>
                    <th>商品类型</th>
                    <th>商品数量</th>
                    <th>价格类型</th>
                    <th>价格</th>
                    <th>折扣</th>
                    <th>图片</th>
                    <th>是否显示</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {{range $k,$v := .list}}

                    <tr>
                        <td name="goods_id">
                            {{$v.GoodsId}}
                        </td>
                        <td name="sort">
                            {{$v.Sort}}
                        </td>
                        <td name="name">
                            {{$v.Name}}
                        </td>
                        <td name="category">
                                {{if eq $v.Category 1}} 金币专区 {{end}}
                                {{if eq $v.Category 2}} 钻石专区 {{end}}
                                {{if eq $v.Category 3}} 兑换专区 {{end}}
                                {{if eq $v.Category 4}} 道具专区 {{end}}
                        </td>
                        <td name="goods_type">
                                {{if eq $v.GoodsType 1}} 金币 {{end}}
                                {{if eq $v.GoodsType 2}} 钻石 {{end}}
                                {{if eq $v.GoodsType 3}} 红包 {{end}}
                                {{if eq $v.GoodsType 7}} 奖券 {{end}}
                                {{if eq $v.GoodsType 5}} RMB {{end}}
                                {{if eq $v.GoodsType 101}} 房卡 {{end}}
                        </td>
                        <td name="amount">
                            {{$v.Amount}}
                        </td>
                        <td name="price_type">
                               {{if eq $v.PriceType 1}} 金币 {{end}}
                                {{if eq $v.PriceType 2}} 钻石 {{end}}
                                {{if eq $v.PriceType 3}} 红包 {{end}}
                                {{if eq $v.PriceType 7}} 奖券 {{end}}
                                {{if eq $v.PriceType 5}} RMB {{end}}
                                {{if eq $v.PriceType 101}} 房卡 {{end}}
                        </td>
                        <td name="price">
                            {{$v.Price}}
                        </td>
                        <td name="discount">
                            {{$v.Discount}}
                        </td>
                        <td name="image">
                                {{if eq $v.Image ""}} 无 {{end}}
                                {{if eq $v.Image "coin_1"}} 金币1 {{end}}
                                {{if eq $v.Image "coin_2"}} 金币2 {{end}}
                                {{if eq $v.Image "coin_3"}} 金币3 {{end}}
                                {{if eq $v.Image "coin_4"}} 金币4 {{end}}
                                {{if eq $v.Image "coin_5"}} 金币5 {{end}}
                                {{if eq $v.Image "coin_6"}} 金币6 {{end}}
                                {{if eq $v.Image "diamond_1"}} 钻石1 {{end}}
                                {{if eq $v.Image "diamond_2"}} 钻石2 {{end}}
                                {{if eq $v.Image "diamond_3"}} 钻石3 {{end}}
                                {{if eq $v.Image "diamond_4"}} 钻石4 {{end}}
                                {{if eq $v.Image "diamond_5"}} 钻石5 {{end}}
                                {{if eq $v.Image "diamond_6"}} 钻石6 {{end}}

                        </td>
                        <td name="is_show">
                                {{if eq $v.IsShow true}} 是 {{end}}
                                {{if eq $v.IsShow false}} 否 {{end}}
                        </td>
                        <td>
                            <form class="form_list_item" action="/admin/config/goods/edit" method="post">
                                <input type="hidden" name="id" value="{{$v.ObjId.Hex}}">
                            <button type="submit" class="layui-btn">编辑</button>
                            <a class="list_remove_btn" href="/admin/config/goods/remove?id={{$v.ObjId.Hex}}"><button type="button"  class="layui-btn">删除</button></a>
                            </form>
                        </td>

                    </tr>

                {{end}}
                </tbody>
            </table>
        </div>
    </div>
</div>



<script>
    layui.use(["element"], function () {
        //选项卡
        layui.element().on("tab(goods_tab)", function(ele){
            var cate_id = this.getAttribute("data-cate_id");
            window.location.href = "./list?cate_id="+cate_id;
        });
    });

//    //更新
//    common.bindAjax("submit", ".form_list_item", function (e) {
//        e.preventDefault();
//        return window.confirm("确定更新配置吗？");
//    }, function (req, res) {
//        common.msg("消息", res.msg);
//    });
    //删除
    common.bindAjax("click", ".list_remove_btn", function (e) {
        e.preventDefault();
        return window.confirm("确定删除该条配置吗？");
    }, function (req, res) {
        if(res.code > 0){
            alert(res.msg);
            window.location.reload();
        }else {
            common.msg("消息", res.msg);
        }
    });
</script>

{{template "manage_footer" }}