
{{template "manage_header" }}
<form id="form_list" action="" method="get">
    <input type="hidden" name="page" value="{{$.keys_page.page}}">
</form>
<table class="layui-table">
    <thead>
    <tr>
        <th>排序</th>
        <th>关键词</th>
        <th>备注</th>
        <th>状态</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody id="Data">
    {{range $k,$v := $.keys}}
    <tr>
        <td>{{$k}}</td>
        <td>{{$v.name}}</td>
        <td>{{$v.remarks}}</td>
        <td>{{if eq $v.status 0}}关闭{{else}}使用{{end}}</td>
        <td>
        {{if eq $v.status 0}}
            <a href='/admin/keys/status?id={{$v.id}}&types=ok' class="layui-btn layui-btn-sm agree-btn" type="button">使用</a>
        {{end}}
        {{if  eq $v.status 1}}
            <a class="layui-btn layui-btn-sm layui-btn-normal agree-btn" href='/admin/keys/status?id={{$v.id}}&types=no' type="button">不使用</a>
        {{end}}
            <a class="layui-btn layui-btn-sm layui-btn-danger" href='/admin/keys/edit?id={{$v.id}}' type="button">编辑</a>
            <a class="layui-btn layui-btn-sm layui-btn-danger agree-btn" href='/admin/keys/del?id={{$v.id}}&types=del' type="button">删除</a>
        </td>
    </tr>
    {{end}}
    </tbody>
</table>
<div style="height: 35px;width: 750px;">
    <div id="view_page"></div>
</div>

<script>
    common.bindAjax("click", ".agree-btn", function (e) {
        e.preventDefault();
        return window.confirm("是否同意？")
    }, function (req, res) {
        var data = eval("("+res+")");
        if (data.code == 1) {
            common.msg("提示", data.msg)
            window.location.reload()
        }else {
            common.msg("提示", data.msg)
        }
    })
</script>

{{template "manage_footer" }}