<div>为用户id:[{{.user.Id}}],昵称[{{.user.NickName}}]充值?</div><div>    <form action="/rechargePost" method="post">        <input type="hidden" name="userId" value="{{.user.Id}}"/>        <input type="text" name="diamond" value=""/>        <input type="submit" value="ok"/>    </form></div>