<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>扎金花--房间列表</title>
    {{template "header"}}
</head>
<body>
<ol class="breadcrumb">
    <li class="active">房间</li>
</ol>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">扎金花--房间列表</div>

    <!-- Table -->
    <table class="table">
        <thead>
            <th>id</th>
            <th>类型</th>
            <th>级别</th>
            <th>名称</th>
            <th>牌桌数</th>
            <th>最小跟注</th>
            <th>最大跟注</th>
            <th>血拼跟注</th>
            <th>牌桌列表</th>
        </thead>
        <tbody>
        {{range $k,$room := .rooms}}
            <tr>
                <td>{{$room.GetRoomId}}</td>
                <td>{{$room.GetRoomType}}</td>
                <td>{{$room.GetRoomLevel}}</td>
                <td>{{$room.GetRoomTitle}}</td>
                <td>{{len $room.Desks}}</td>
                <td>{{$room.GetBaseValue}}</td>
                <td>{{$room.GetMaxValue}}</td>
                <td>{{$room.GetXuepinBaseValue}}</td>
                <td><a href="/desklist/{{$room.GetRoomId}}">进入</a></td>
            </tr>
        {{end}}
        </tbody>
    </table>
</div>
</body>
</html>
