{{template "manage_header" }}
<div class="layui-tab" style="overflow: visible" lay-filter="task_tab">
    <ul class="layui-tab-title">
        <li data-cate_id="0" {{if eq .cate_id 0}}class="layui-this"{{end}}>全部</li>
        <li data-cate_id="1" {{if eq .cate_id 1}}class="layui-this"{{end}}>大厅任务</li>
        <li data-cate_id="2" {{if eq .cate_id 2}}class="layui-this"{{end}}>旧版红包任务</li>
        <li data-cate_id="3" {{if eq .cate_id 3}}class="layui-this"{{end}}>大厅分享任务</li>
        <li data-cate_id="4" {{if eq .cate_id 4}}class="layui-this"{{end}}>新版红包任务</li>

    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <table class="layui-table">
                <thead>
                <tr>
                    <td>任务id</td>
                    <td>分类id</td>
                    <td>任务类型</td>
                    <td>所属游戏</td>
                    <td>标题</td>
                    <td>详情</td>
                    <td>排序</td>
                    <td>完成条件</td>
                    <td>可重复完成次数</td>
                    <td>操作</td>
                </tr>
                </thead>
                <tbody>
                {{range $k,$v := .list}}
                <!--<form class="form_list_item" action="/admin/config/task/edit" method="post">-->
                    <tr>
                        <td>{{.TaskId}}</td>
                        <td>{{.CateId}}</td>
                        <td>{{.TaskType}}</td>
                        <td>{{.GameId}}</td>
                        <td>{{.Title}}</td>
                        <td>{{.Description}}</td>
                        <td>{{.Sort}}</td>
                        <td>{{.TaskSum}}</td>
                        <td>{{.RepeatSum}}</td>
                        <td>
                            <button type="submit" class="layui-btn" data-id="{{.TaskId}}" data-cateid="{{.CateId}}" data-tasktype="{{.TaskType}}" data-gameid="{{.GameId}}"
                                    data-title="{{.Title}}" data-description="{{.Description}}" data-sort="{{.Sort}}" data-tasksum="{{.TaskSum}}"
                                    data-repeatsum="{{.RepeatSum}}" data-objid="{{.Id.Hex}}">更新</button>
                        </td>
                    </tr>
                <!--</form>-->
                {{end}}
                </tbody>
            </table>
        </div>
    </div>
</div>

<form class="layui-form" action="/admin/config/task/edit" method="post" id="form" style="display: none">
    <input type="hidden" name="id" id="Game" value="">
    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 120px">任务ID</label>
        <div class="layui-input-inline">
            <input type="text" name="TaskId" lay-verify="TaskId" id="TaskId" autocomplete="off" placeholder="请输入ID" class="layui-input" value="">
        </div>

        <label class="layui-form-label" style="width: 120px">分类ID</label>
        <div class="layui-input-inline">
            <input type="text" name="CateId" lay-verify="CateId" id="CateId" placeholder="请输入" autocomplete="off" class="layui-input" value="">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"  style="width: 120px">任务类型</label>
        <div class="layui-input-inline">
            <input type="text" name="TaskType" lay-verify="TaskType" id="TaskType" placeholder="请输入" autocomplete="off" class="layui-input" value="">
        </div>

        <label class="layui-form-label" style="width: 120px">所属游戏</label>
        <div class="layui-input-inline">
            <input type="text" name="GameId" lay-verify="GameId" id="GameId" placeholder="请输入" autocomplete="off" class="layui-input" value="">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 120px">标题</label>
        <div class="layui-input-inline">
            <input type="text" name="Title" lay-verify="Title" id="Title" placeholder="请输入" autocomplete="off" class="layui-input" value="">
        </div>
        <label class="layui-form-label" style="width: 120px">详情</label>
        <div class="layui-input-inline">
            <input type="text" name="Description" lay-verify="Description" id="Description" placeholder="请输入" autocomplete="off" class="layui-input" value="">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 120px">排序</label>
        <div class="layui-input-inline">
            <input type="text" name="Sort" lay-verify="Sort" id="Sort" placeholder="请输入" autocomplete="off" class="layui-input" value="">
        </div>
        <label class="layui-form-label"  style="width: 120px">完成条件</label>
        <div class="layui-input-inline">
            <input type="text" name="TaskSum" lay-verify="TaskSum" id="TaskSum" placeholder="请输入" autocomplete="off" class="layui-input" value="">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"  style="width: 120px">可重复完成次数</label>
        <div class="layui-input-inline">
            <input type="text" name="RepeatSum" lay-verify="RepeatSum" id="RepeatSum" placeholder="请输入" autocomplete="off" class="layui-input" value="">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="demo1" type="submit">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>


<script>
    layui.use(["element"], function () {
        //选项卡
        layui.element().on("tab(task_tab)", function(ele){
            var cate_id = this.getAttribute("data-cate_id");
            window.location.href = "./list?cate_id="+cate_id;
        });
    });

    //更新
    common.bindAjax("submit", ".layui-form", function (e) {
        e.preventDefault();
        return window.confirm("确定更新配置吗？");
    }, function (req, res) {
        common.msg("消息", res.msg);
        window.location.reload();
    });
    layui.use('layer', function() {

        var layer = layui.layer;
        $(".layui-table td button").click(function () {
            $("#TaskId").val(this.dataset.id)
            $("#CateId").val(this.dataset.cateid)
            $("#TaskType").val(this.dataset.tasktype)
            $("#GameId").val(this.dataset.gameid)
            $("#Title").val(this.dataset.title)
            $("#Description").val(this.dataset.description)
            $("#Sort").val(this.dataset.sort)
            $("#TaskSum").val(this.dataset.tasksum)
            $("#RepeatSum").val(this.dataset.repeatsum)
            $("#IP").val(this.dataset.ip)
            $("#PORT").val(this.dataset.port)
            $("#STATUS").val(this.dataset.status)
            $("#MaintainMsg").val(this.dataset.maintainMsg)
            $("#Game").val(this.dataset.objid)
            layer.open({
                type: 1,
                skin: 'layui-layer-rim', //加上边框
                area: ['720px', '540px'], //宽高
                content: $("#form")
            });
        })



    })
</script>

{{template "manage_footer" }}