<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>登陆</title>
    {{/*<link rel="stylesheet" type="text/css" href="/static/home/css/aui.css" />*/}}
    <link rel="stylesheet" type="text/css" href="/static/home/css/member.css" />
    <link rel="stylesheet" href="/static/admin/plugins/layui/css/layui.css">
    {{/*<link rel="stylesheet" type="text/css" href="/static/home/css/layer.css" />*/}}

    <style type="text/css">
        .gonggao>marquee{
            color: #fff;
            font-size: 18px;
            line-height: 45px;
        }
        .layui-form-label{ font-weight:800;color:#ffffff}
        .layui-btn{font-weight:800;}
    </style>

</head>
<body>
<img src="/static/home/image/big-bg.png" style="width: 100%;height: 100%;position: fixed;z-index: -5;">
<img src="/static/home/image/head-bottom.png" style="clear: both; display: block; margin:auto; width: 100%">

<div style="width: 350px;height:315px; position:relative; margin: 10% auto 0 auto; border: solid 3px darkgrey; padding-top: 20px;border-color:#f0f0f0;">
    <form class="layui-form" action="/admin/login" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">用户名：</label>
            <div class="layui-input-inline">
                <input type="text" name="name" value="" lay-verify="phone" autocomplete="off" class="layui-input" style="border:solid 3px darkgrey;background-color:transparent;border-color:#f0f0f0;">
            </div>
        </div>
        <!--<input type="text" name="name" placeholder="用户名" value="">-->
        <div class="layui-form-item">
            <label class="layui-form-label">密码：</label>
            <div class="layui-input-inline">
                <input type="password" name="passwd" value="" lay-verify="phone" autocomplete="off" class="layui-input" style="border:solid 3px darkgrey;background-color:transparent;border-color:#f0f0f0;">
            </div>
        </div>
        <!--<input type="password" name="passwd" placeholder="密码" value="">-->
        <div class="layui-form-item" align="center">
        {{.Captcha.CreateHtml}}
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">验证码：</label>
            <div class="layui-input-inline">
                <input type="text" name="captcha" value="" lay-verify="phone" autocomplete="off" class="layui-input" style="border:solid 3px darkgrey;background-color:transparent;border-color:#f0f0f0;">
            </div>
        </div>
        <!--<input type="text" name="captcha" placeholder="验证码" value="">-->
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-primary" lay-submit lay-filter="*">登录</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                <a type="button" class="layui-btn layui-btn-primary" href="/admin/sign_up">注册</a>
            </div>
        </div>
        <!--<input type="submit" value="登录">-->
    </form>
</div>




<script type="text/javascript" src="/static/home/script/jquery-3.2.1.min.js" ></script>



</body>
</html>
