<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>悦界互愉</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="/layui/layui.js" charset="utf-8"></script>
</head>
<body>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
    <legend style="margin-left: 100px">在房间玩家</legend>
</fieldset>

<form class="layui-form" action="/admin/data/atHomeList" method="post">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">查询</label>
            <div class="layui-input-inline">
                <input type="text" name="gameID" lay-verify="gameID" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-input-block">
                <select name="interest" lay-filter="aihao">
                    <option value="0">全部</option>
                    <option value="1">朋友桌</option>
                    <option value="2">金币场</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-input-block">
                <select name="interest" lay-filter="aihao">
                    <option value="0">朋友桌</option>
                    <option value="1">麻将</option>
                    <option value="2">斗地主</option>
                    <option value="3">炸金花</option>
                    <option value="4">跑得快</option>
                    <option value="5">抓瞎子</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-input-block">
                <select name="interest" lay-filter="aihao">
                    <option value="0">金币场</option>
                    <option value="1">低级</option>
                    <option value="2">中级</option>
                    <option value="3">高级</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="demo1" type="submit">查询</button>
                <button type="reset" class="layui-btn layui-btn-primary">刷新</button>
            </div>
        </div>
    </div>


</form>
<table class="layui-table" lay-skin="line">
    <colgroup>
        <col width="150">
        <col width="150">
        <col width="200">
        <col width="200">
        <col width="200">
        <col width="200">
        <col width="200">
        <col width="200">
        <col width="200">
        <col>
    </colgroup>
    <thead>
    <tr>
        <th>用户ID</th>
        <th>用户名</th>
        <th>用户昵称</th>
        <th>游戏ID</th>
        <th>所在房间</th>
        <th>进入IP</th>
        <th>进入时间</th>
    </tr>
    </thead>
    <tbody id="biuuu_city_list">

    </tbody>
</table>

<!--分页-->

<div id="demo7"></div>
<script>
    layui.use(['layer', 'laypage', 'element'], function(){
        var layer = layui.layer
            ,laypage = layui.laypage
            ,element = layui.element();


        //监听Tab切换
        element.on('tab(demo)', function(data){
            layer.msg('切换了：'+ this.innerHTML);
            console.log(data);
        });

        //测试数据
        var data = [
            '{{range $k, $v := .user}}',
            '<tr><td>{{$v.UserID}}</td><td>{{$v.UserName}}</td><td>{{$v.UserNick}}</td><td>{{$v.GameID}}</td><td>{{$v.HomeIn}}</td><td>{{$v.IP}}</td><td>{{$v.Time.Format "2006-01-02 15:04:05"}}</td></tr>',
            '{{end}}'
        ];

        var nums = 20; //每页出现的数据量

        //模拟渲染
        var render = function(curr){
            //此处只是演示，实际场景通常是返回已经当前页已经分组好的数据
            var str = '', last = curr*nums - 1;
            last = last >= data.length ? (data.length-1) : last;
            for(var i = (curr*nums - nums); i <= last; i++){
                str += '<li>'+ data[i] +'</li>';
            }
            return str;
        };

        //调用分页
        laypage({
            cont: 'demo7'
            ,pages: Math.ceil(data.length/nums) //得到总页数
            ,skip: true
            ,jump: function(obj){
                document.getElementById('biuuu_city_list').innerHTML = render(obj.curr);
            }
        });
    });

    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form()
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate;

    });



    //没选择时间的时候，默认当天的数据
    //        if (strs == "NaN-NaN-NaN") {
    //            strs=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24]
    //            var x_label = "时间(h)"; //X轴标题
    //            count = [[ 1,22,3,12,5,23,7,8,9,15,16,12,18,21,23,16,22,18,5,8,16,21,28,126]];
    //        }else{
    //            var x_label = "时间(天)"; //X轴标题
    //		}

    //当选择一天的时候，数据变为这一天的数据
    //		if(strs.length <=2){
    //            strs=[,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24]
    //            var x_label = "时间(24h)"; //X轴标题
    //            var count = [
    //                    '{{range $k,$v := .static}}',
    //                    '{{$v.Count}}',
    //                    '{{end}}'
    //                ],
    //                i, len;
    //
    //            for (i = count.length-1 ;  i >0; i--) {
    //                if (count[i] === '') {
    //                    count.splice(i, 1);
    //                }
    //            }
    //            count =[count]
    //			console.log(count)
    //        }else {


    //        }
    //        if(strs.length>2){
    //            str=Todo("{{.date_start}}", "{{.date_end}}"); //这是一字符串
    //            var strs= new Array(); //定义一数组
    //            strs=str.split(","); //字符分割
    //        }


</script>

</body>
</html>
