{{template "manage_header" }}
<form id="form_list" action="" method="get">
    <input type="hidden" name="page" value="{{.page.page}}">
    <input type="hidden" name="status" value="{{.status}}">
    <div class="layui-form-pane" style="margin-top: 15px;">
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 110px">选择日期</label>
            <div class="layui-input-inline">
                <input class="layui-input" name="start" value="{{.start_time}}" placeholder="开始日" id="LAY_demorange_s">
            </div>
            <div class="layui-input-inline">
                <input class="layui-input" name="end" value="{{.end_time}}" placeholder="截止日" id="LAY_demorange_e">
            </div>
            <div class="layui-input-inline">
                <input id="form_list_btn" class="layui-btn" type="submit" value="确定">
            </div>
        </div>
    </div>
</form>
<table class="layui-table">
    <thead>
    <tr>
        <th>ID</th>
        <th>代理Id</th>
        <th>代理昵称</th>
        <th>用户ID</th>
        <th>用户昵称</th>
        <th>返利金币</th>
    </tr>
    </thead>
    <tbody>
    {{range $k,$v := .agent_rebate_list.list}}
        <tr>
            <td>{{$v.id}}</td>
            <td>{{$v.agent_id}}</td>
            <td>{{$v.nickname}}</td>
            <td>{{$v.rebate_id}}</td>
            <td>{{$v.rebate_nickname}}</td>
            <td>{{$v.rebate_money}}</td>
        </tr>
    {{end}}
    </tbody>
</table>
<div style="height: 35px;width: 750px;">
    <div id="view_page"></div>
</div>
<script>
    layui.use(['form','laypage','laydate'], function(){
        var form = layui.form();
        form.on('select(status)', function (data) {
            var val = data.value;
            var elem = data.elem;
            var id = $(elem).data("id");
            if(window.confirm("确定执行该操作吗？")){
                $.ajax({
                    url:"/admin/manage/exchange/switch",
                    type:"get",
                    data:{"id": id, "status": val},
                    success: function (res) {
                        if(window.confirm(res.msg)){
                            window.location.reload();
                        }
                    }
                });
            }
//            alert(val);
//            alert(id);
        });
        $("#form_list_btn").on("click", function (e) {
            e.preventDefault();
            var page = $("#form_list").find("[name=page]");
            page.val(1);
            $("#form_list").submit();
        });

        {{/*layui.laypage({*/}}
            {{/*cont: 'view_page',*/}}
            {{/*pages: {{.page.page_count}}, //总页数*/}}
            {{/*curr: {{.page.page}},*/}}
            {{/*skip:true, //连续显示分页数*/}}
            {{/*jump: function (obj) {*/}}
                {{/*var page = $("#form_list").find("[name=page]");*/}}
                {{/*if(page.val() != obj.curr) {*/}}
                    {{/*page.val(obj.curr);*/}}
                    {{/*$("#form_list").submit();*/}}
                {{/*}*/}}
            {{/*}*/}}
        {{/*});*/}}

        var laydate = layui.laydate;

        var start = {
//        min: laydate.now(),
//        max: '2099-06-16 23:59:59',
            min: '2017-01-01 00:00:00',
            max: laydate.now(),
            istoday: false
            ,choose: function(datas){
                end.min = datas; //开始日选好后，重置结束日的最小日期
                end.start = datas; //将结束日的初始值设定为开始日
            }
        };

        var end = {
//        min: laydate.now()
//        ,max: '2099-06-16 23:59:59'
            min: '2017-01-01 00:00:00',
            max: laydate.now()
            ,istoday: false
            ,choose: function(datas){
                start.max = datas; //结束日选好后，重置开始日的最大日期
            }
        };
        document.getElementById('LAY_demorange_s').onclick = function(){
            start.elem = this;
            laydate(start);
        };
        document.getElementById('LAY_demorange_e').onclick = function(){
            end.elem = this;
            laydate(end);
        }

    });
</script>

{{template "manage_footer" }}